<% content_for :banner do %>
  <%=render :partial => "search/main_title", :locals => { :main_title_body => "¡Lánzate con tus alumnos al I Concurso EducaInternet!" }%>
<%end%>

<div class="row">
  <div class="col-md-10 contest_content">

    <div class="row">
      <div class="col-md-6 text_info">
        <h3>¡Queremos contar contigo!</h3>
        <p>¡Profesor@, bienvenid@ al Primer Concurso EducaInternet, una iniciativa
          en la que Orange y Macmillan unen sus conocimientos para promover el
          uso seguro y responsable de las tecnologías de la información y la
          comunicación en el sector educativo!
          Nadie mejor que tú para guiar a tus alumnos y demostrarnos que sois los
          mejores utilizando la tecnología para aprender, divertiros, relacionaros... de
          forma responsable.
          Buscamos ideas divertidas, innovadoras, originales, que sean útiles para
          fomentar un uso responsable y seguro de la tecnología. ¿Te lanzas?
        </p>
      </div>
      <div class="col-md-6 video">
        <iframe class="video_pres" width="560" height="280" src="https://www.youtube.com/embed/c8ulYWbHRZo?list=PLve_ezrFIJJwedWcJNc5m6CFSK70hY11K" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div id="collapseInfo" class="panel-collapse collapse more_info">
        <h4>More info</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eius
        <h4>More info</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eius
        <h4>More info</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eius
        <h4>More info</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eius
        <h4>More info</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eius
    </div>
    <!-- botón más info-->
    <a class="expand" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo">
      <span id="showingMore" class="showMore accordion-toggle btn btn-secundary collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseInfo" title="<%=t('excursion.actions.show_more')%>" status="collapsed">Saber más...</span>
    </a>
    <!-- botón descargar bases -->
    <button class="btn btn-secundary"><i class="fa fa-download"></i> Descargar las bases del concurso</button>

    <!-- materiales -->
    <h3>Materiales</h3>
    <div class="items">
      <% categories = Category.all.sample(6) %>
      <% categories.each do |category| %>
        <%= render partial: 'contests/templates/educa2016/category', locals: { category: category} %>
      <% end %>
      <div class="clear"></div>
    </div>

    <!-- recursos subidos -->
    <h3>Recursos subidos y votaciones</h3>
    <!-- condicionar para mostrar cuadro "no hay recursos subidos"-->
    <%= render partial: 'contests/templates/educa2016/submissions', locals: { contest: @contest} %>
    <!-- fin condición -->

    <% if user_signed_in? && @contest.hasSubmissions?(current_subject.actor) %>
      <h3>Tu participación</h3>
      <%= render partial: 'contests/submissions_user', locals: { contest: @contest} %>
    <% end %>

  </div>
  <div class="col-md-2 email_box">
    <div class="title_box">DESCÁRGATE EL ÍNDICE DE MATERIALES</div>
    <div class="form_box">
      <form>
        <div class="form-group">
          <input class="form-control" type="text" id="name" placeholder="Nombre">
          <input class="form-control" type="email" id="mail" placeholder="Email">
          <label>
            <input id="inlineCheckbox1" required="required" title="You need to accept to receive information" value="option1" type="checkbox">
            <span class="lbl padding-0">
              Acepto recibir información sobre el concurso
            </span>
          </label>
          <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  $("#showingMore").click(function(e){
    if($("#showingMore").attr("status")==="expanded"){
      $("#showingMore").html('Saber más...');
      $("#showingMore").attr("title", "<%=t('excursion.actions.show_fewer')%>");
      $("#showingMore").attr("status", "collapsed");
    } else {
      $("#showingMore").html('Ocultar info');
      $("#showingMore").attr("title", "<%=t("excursion.actions.show_more")%>");
      $("#showingMore").attr("status", "expanded");
    }
  });
<%end%>
