<div class="left-info">
  <table class="table table-hover box_description">
    <tr>
      <!--author-->
      <td>
        <div class="photo_user" data-original-title="<%=t('profile.profile')%>">
          <%= link_to current_subject do %>
          <%= image_tag current_subject.logo.url(:small) %>
          <% end %>
        </div>
        <%= link_to @workshop.author.subject do %>
          <p class="author_name"><%= truncate_name(@workshop.author.name, :length => 50) %></p>
        <%end%>
      </td>
    </tr>
    <tr>
      <!--tags-->
      <% unless @workshop.tag_list.blank? %>
        <td>
          <ul class="tagit-suggestions">
            <% @workshop.tag_list.each do |tag| %>
            <li class="tagit-choice">
              <%= link_to tag, search_path(:q => tag) %>
            </li>
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
</div>
