<article class="<%= 'contest_block' if ![3].include? raw t(' %> padding_bottom60 <%= 'contest_block_dark' if [3].include? raw t(' %>">
  <div class="intro_icon_block">
    <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
  </div>
  <div class="fix_gap"></div>
  <div class="content_block">
    <h2><%= t('contest_page.incibe_title_html') %></h2>
  </div>

  <div class="content_block">
  <div class="items">
    <% begin
        incibeitems = [Category.find(55), Category.find(56), Category.find(57), Category.find(58), Category.find(59), Category.find(60), Category.find(63), Category.find(62), Document.find(11687), Document.find(11688),Document.find(11689),Document.find(11690),Document.find(11691)]
      rescue ActiveRecord::RecordNotFound => e
        incibeitems = Category.all.sample(8).push(Document.last)
      end %>
    <% incibeitems.each do |item| %>
      <%if item.instance_of? Category%>
        <%= render partial: 'contests/templates/educa2017/category', locals: { category: item} %>
      <%else%>
        <%= render partial: 'repositories/resource', locals: { resource: item} %>
      <%end%>
    <% end %>
    <div class="clear"></div>
  </div>
  </div>
</article>
