<%content_for :banner do%>
<!--illustration -->
  <div class="main-box main-box-contest">
    <img src="/assets/orange/<%= t('contest_page.main_title.img')%>" alt="Imagen consurso EducaInternet" class="img_contest">
    <!-- center sentence + buttons -->
    <div class="main-title main-title-contest">
      <div class="title">
        <%if contest_phase <= 2 %>
          <%= t('contest_page.main_title.title1_html') %>
        <% end %>
        <%if contest_phase == 3 %>
          <%= t('contest_page.main_title.title2_html') %>
        <% end %>
        <%if contest_phase == 4 %>
          <%= t('contest_page.main_title.title3_html') %>
        <% end %>

      </div>
      <%if contest_phase < 3 %>
        <%if isUserEnrolled? %>
            <%if contest_phase == 2 %>
              <button id="btn_add_resource" class="btn btn-contest">
              <%= t('contest_page.steps.step2_action') %>
              </button>
            <% end %>
        <% elsif user_signed_in? %>
          <button class="btn btn-contest" onclick="location.href='/contest/<%= @contest.name %>/other_fields_enrollment';">
            <%= t('contest_page.main_title.action1') %>
          </button>
        <% else %>
          <button class="btn btn-contest" onclick="location.href='/contest/<%= @contest.name %>/full_enrollment_registration';">
            <%= t('contest_page.main_title.action1') %>
          </button>
        <% end %>

      <% else %>
        <!--  path = submissions_all -->
        <% if !submissions %>
          <button class="btn btn-contest" onclick="location.href='/contest/educa2017/page/submissions';">
            Ver recursos
          </button>
        <% else %>
          <button class="btn btn-contest" onclick="location.href='<%=contest_page_path(@contest,"index",true)%>';">
            Volver al concurso
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
<%end%>


<%if user_signed_in? && isUserEnrolled? && contest_phase == 2%>
  <%= content_for :javascript do %>
      $("#btn_add_resource").click(function(){
        $("#add_resource_contest_button").click();
      });
  <%end%>
<%end%>
