

<article class="contest_block">
  <div class="intro">
    <h1><%= t('contest_page.user_resources.intro')%></h1>
    <div class="horizontal_line"></div>
  </div>
  <%types = VishConfig.getAvailableResourceModels%>
  <%if user_signed_in? && ActivityObject.authored_by(current_user).where(:object_type => types).length > 0 %>
    <div class="content_block">
      <div id="submitted_aos_<%=@contest.id.to_s%>" style="display:inline-block; width: 100%">
    	  <ul class="items">
          <%= render partial: 'contests/templates/educa2017/submissions/form', locals: { contest_category: @contest.categories.first } %>
          <%= render partial: 'contests/submissions_user', locals: { contest: @contest} %>
          <div class="clear"></div>
    	  </ul>
      </div>


    </div>
  <%else%>
    <div class="no_resources">
      <p><%= t('contest_page.user_resources.no_resources.text1_html')%></p>
      <p><%= t('contest_page.user_resources.no_resources.text2_html')%></p>
      <p><%= t('contest_page.user_resources.no_resources.text3_html')%></p>
    </div>
  <%end%>
</article>
