<!--contest image -->
<%= render partial: 'contests/templates/'+@contest.name+'/main_title', :locals => { :submissions => false }%>

<!--contest blocks -->
<section class="articles contest_blocks">
  <%if isUserEnrolled? && raw t(' == 2 %>
    <!--user resources gallery -->
    <%= render partial: 'contests/templates/'+@contest.name+'/user_resources' %>
  <%end%>

  <%if raw t(' <= 2 %>
    <!--presentation + video -->
    <%= render partial: 'contests/templates/'+@contest.name+'/presentation' %>
  <%end%>
  <%if raw t(' == 3 %>
    <%if user_signed_in? %>
      <!-- share resources -->
      <%= render partial: 'contests/templates/'+@contest.name+'/share_resources' %>
    <%else%>
      <%= render partial: 'contests/templates/'+@contest.name+'/contest_closed' %>
    <%end%>
  <%end%>
  <%if raw t(' == 4 %>
    <!-- winners -->
    <%= render partial: 'contests/templates/'+@contest.name+'/winners', :locals => { :bgwhite => true } %>
  <%end%>
  <%if raw t(' <= 2 %>
    <!-- explanation -->
    <%= render partial: 'contests/templates/'+@contest.name+'/explanation' %>
  <%end%>
  <%if isUserEnrolled? %>
    <!--educainternet seal -->
    <%= render partial: 'contests/templates/'+@contest.name+'/educainternet_seal' %>
  <%end%>

  <%if raw t(' >= 1 %>
    <!--educaTips -->
    <%#= render partial: 'contests/templates/'+@contest.name+'/educatips' %>
    <%= render partial: 'contests/templates/'+@contest.name+'/first_educatip' %>
  <%end%>
  <%if raw t(' <= 2 || (raw t('===3 &&  isUserEnrolled?) %>
    <!-- 3 steps -->
    <%= render partial: 'contests/templates/'+@contest.name+'/steps' %>
  <%end%>


  <%if raw t(' <= 2 %>  <!-- **** este no tengo muy claro si debe estar tb en fase 3 -->
  <!-- help center -->
  <%= render partial: 'contests/templates/'+@contest.name+'/help_center' %>
  <%end%>
  <!-- McMillan resources -->
  <%= render partial: 'contests/templates/'+@contest.name+'/macmillan_resources' %>
  <!-- INCIBE resources -->
  <%= render partial: 'contests/templates/'+@contest.name+'/incibe_resources' %>

  <!-- create account -->
  <%= render :partial => "shared/create_account" %>
</section>

<%
# <h3> This page is a template used for testing Contests. </h3>
# <h4> Feel free to copy it to create your own contest. </h4>
# <br/>
#
# <h4> Additional pages. </h4>
# <p>Go to <a href="<%=contest_page_path(@contest,"page2",true)">page 2</a> of the contest.</p>
# <br/>
#
# <h4> Enroll/Disenroll form </h4>
# <%= render partial: 'contests/enroll', locals: { contest: @contest}
# <br/>
#
# <h4> Mail List </h4>
# <%= render partial: 'contests/mail_list', locals: { contest: @contest}
# <br/>
#
# <h4> Submissions </h4>
# <%= render partial: 'contests/submissions', locals: { contest: @contest}
# <br/>
# <p><a href="<%=contest_page_path(@contest,"submissions",true)">View all</a></p>
# <br/>
#
# <h4> Submit your resource: </h4>
# <%= render partial: 'contests/submission', locals: { contest: @contest}
# <br/>
#
# <h4> Your submissions: </h4>
# <%= render partial: 'contests/submissions_user', locals: { contest: @contest}
# <br/>
 %>
 <div id="fb-root"></div>
 <script>(function(){
     if(document.getElementById('facebook-jssdk')){
       return;
     }
     var facebook_js = document.createElement('script');
     facebook_js.id = 'facebook-jssdk';
     facebook_js.src = ("//connect.facebook.net/en_GB/all.js#xfbml=1&appId=" + "<%=Vish::Application.config.APP_CONFIG['facebook']['appID']%>");
     var head = document.getElementsByTagName('head')[0];
     head.appendChild(facebook_js);
   }());
 </script>
