<%content_for :title do%> Concurso EducaInternet 2017<%end%>
<%content_for :description do%>Una oportunidad de convertirte en un referente en nuevas tecnologías para tus alumnos. Inscríbete con tu clase y descubre todos los materiales formativos que te ofrecemos para que puedas apoyar a tus alumnos en sus necesidades educativas.<%end%>

<!--contest image -->
<%= render partial: 'contests/templates/'+@contest.name+'/main_title', :locals => { :submissions => false }%>

<!--contest blocks -->
<section class="articles contest_blocks">
  <%if isUserEnrolled? && contest_phase == 2 %>
    <!--user resources gallery -->
    <%= render partial: 'contests/templates/'+@contest.name+'/user_resources' %>
  <%end%>

  <%if contest_phase <= 2 %>
    <!--presentation + video -->
    <%= render partial: 'contests/templates/'+@contest.name+'/presentation' %>
  <%end%>
  <%if contest_phase == 3 %>
    <%if user_signed_in? && isUserEnrolled? && @contest.activity_objects.authored_by(current_subject).count>0%>
      <!-- share resources -->
      <%= render partial: 'contests/templates/'+@contest.name+'/share_resources' %>
    <%else%>
      <%= render partial: 'contests/templates/'+@contest.name+'/contest_closed' %>
    <%end%>
  <%end%>
  <%if contest_phase == 4 %>
    <!-- winners -->
    <%= render partial: 'contests/templates/'+@contest.name+'/winners', :locals => { :bgwhite => true } %>
  <%end%>
  <%if contest_phase <= 2 %>
    <!-- explanation -->
    <%= render partial: 'contests/templates/'+@contest.name+'/explanation' %>
  <%end%>
  <%if isUserEnrolled? %>
    <!--educainternet seal -->
    <%= render partial: 'contests/templates/'+@contest.name+'/educainternet_seal' %>
  <%end%>

  <%if contest_phase >= 1 %>
    <!--educaTips -->
    <%= render partial: 'contests/templates/'+@contest.name+'/educatips' %>

  <%end%>
  <%if contest_phase <= 2 || (contest_phase===3 &&  isUserEnrolled?) %>
    <!-- 3 steps -->
    <%= render partial: 'contests/templates/'+@contest.name+'/steps' %>
  <%end%>

  <%if contest_phase <= 2 %>  <!-- **** este no tengo muy claro si debe estar tb en fase 3 -->
  <!-- help center -->
  <%= render partial: 'contests/templates/'+@contest.name+'/help_center' %>
  <%end%>
  <!-- McMillan resources -->
  <%= render partial: 'contests/templates/'+@contest.name+'/macmillan_resources' %>
  <!-- INCIBE resources -->
  <%= render partial: 'contests/templates/'+@contest.name+'/incibe_resources' %>

  <!-- create account -->
  <%= render :partial => "shared/create_account" %>
</section>

<div id="fb-root"></div>
<%= content_for :javascript do%>
  <%if Vish::Application.config.APP_CONFIG['facebook']%>
     if(document.getElementById('facebook-jssdk')){
       return;
     }
     var facebook_js = document.createElement('script');
     facebook_js.id = 'facebook-jssdk';
     facebook_js.src = ("https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=" + "<%=Vish::Application.config.APP_CONFIG['facebook']['appID']%>");
     var head = document.getElementsByTagName('head')[0];
     head.appendChild(facebook_js);
  <%end%>
     var controller = new YTV('playlist_contest', {
        apiKey: "<%= Vish::Application.config.APP_CONFIG['YouTubeAPIKEY'] %>",
   	    playlist: 'PL-qNzC6Q_XM5tMM04Abi8Oy-qHVovu_-0',
        accent: '#fff',
        playerTheme: 'light',
        listTheme: 'light',
        playId:'4J5TJsINiTc',
        responsive: false
       });

<%end%>
