
<%content_for :banner do%>
  <div class="main-box main-box-contest">
    <img src="../assets/orange/contest17.jpg" alt="Imagen consurso EducaInternet" class="img_contest">
    <!-- center sentence + buttons -->
    <div class="main-title main-title-contest">
      <div class="title">
        ¡Participa creando con tu aula un recurso sobre el <b>uso seguro de internet</b>!
      </div>
      <%if user_signed_in? && isUserEnrolled? %>
        <div>No hay nada</div>
      <% elsif user_signed_in? %>
        <button class="btn btn-secondary btn-main-title-contest" onclick="location.href='/contest/educa2017/other_fields_enrollment';">
          Apúntate
        </button>
      <% else %>
        <button class="btn btn-secondary btn-main-title-contest" onclick="location.href='/contest/educa2017/full_enrollment_registration';">
         Apúntate
        </button>
      <% end %>
    </div>
  </div>
<%end%>

<!--Articles-->
<section class="articles contest_blocks">
  <!--presentation + video-->
  <article class="contest_block">
    <h1>SI TE GUSTAN LOS RETOS, ESTE ES EL TUYO</h1>
    <div class="horizontal_line"></div>

    <div class="content_block">
      <div class="video_block">
        <!--pending-->
      </div>
      <div class="text_block">
        <h2>Una oportunidad de convertirte en un referente en nuevas tecnologías para tus alumnos</h2>
        <p class="p_block">
          Inscríbete con tu clase, disfruta de todos nuestros materiales formativos y llévate el reconocimiento de la comunidad educativa con nuestro sello de participación.
        </p>
        <button class="btn btn-primary">Descarga las bases</button>
      </div>
    </div>
  </article>

  <!-- explanation -->
  <article class="contest_block">
    <h1>PROFESORES COMO TÚ HACEN IMPORTANTE ESTE CONCURSO</h1>
    <div class="horizontal_line"></div>

    <div class="content_block">
      <div class="text_block">
        <p class="p_block">
          El concurso EducaInternet es una iniciativa socialmente responsable que nace con la finalidad de implicar a los centros educativos en el uso seguro y responsable de la tecnología de la información y la comunicación.
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Con él se pretende fomentar en los jóvenes una posición crítica y colaborativa respecto a la seguridad en la Red.
        </p>
      </div>
    </div>
  </article>

  <!-- 3 steps -->
  <article class="contest_block_dark">
    <div class="content_block">
      <div class="text_block">
        <h2>Participa en 3 sencillos pasos</h2>
        <div class="step">
          <div class="number">1</div>
          <p class="p_block">
            Inscríbete en la web para disponer de todos los materiales formativos que te interesen. Para ti o para tus alumnos.
          </p>
        </div>
        <div class="step">
          <div class="number">2</div>
          <p class="p_block">
            Crea un recurso junto a tu clase y súbelo a la web ¡Nuestros tutoriales te ayudarán!
          </p>
        </div>
        <div class="step">
          <div class="number">3</div>
          <p class="p_block">
            Vota los recursos que más te hayan gustado. ¿Estará tu centro entre los 4 colegios ganadores?
          </p>
        </div>
      </div>
      <div class="text_block flex_container">
        <div class=""><i class="fa fa-star fa-4x" aria-hidden="true"></i></div>
        <div class=""><i class="fa fa-star fa-4x" aria-hidden="true"></i></div>
        <div class=""><i class="fa fa-star fa-4x" aria-hidden="true"></i></div>
      </div>
    </div>
  </article>

  <!-- help center -->
  <article class="contest_block">
    <div class="icon_block">
      <i class="fa fa-pencil fa-4x" aria-hidden="true"></i>
    </div>
    <h1>PROFESORES COMO TÚ HACEN IMPORTANTE ESTE CONCURSO</h1>
    <div class="horizontal_line"></div>
    <div class="content_block">
      <div class="video_block">
        <!--pending-->
      </div>
      <div class="text_block">
        <h2>Estamos aquí para ayudarte</h2>
        <p class="p_block">
          Si tienes alguna duda sobre cómo crear tu recurso o subirlo te invitamos a visionar nuestros tutoriales.
        </p>
      </div>
    </div>
    <div class="content_block">
      <h2>Herramientas gratuitas para crear los recursos</h2>
    </div>
    <div class="content_block">
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
    </div>
    <div class="content_block">
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Esta herramientas es útil para crear presentaciones interactivas con las que participar en el concurso
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Si tienes alguna duda sobre cómo crear tu recurso o subirlo te invitamos a visionar nuestros tutoriales.
        </p>
      </div>
      <div class="text_block">
        <p class="p_block">
          Si tienes alguna duda sobre cómo crear tu recurso o subirlo te invitamos a visionar nuestros tutoriales.
        </p>
      </div>
    </div>
    <div class="content_block">
      <h2>Inspírate con los trabajos ganadores de la anterior edición del Concurso EducaInternet</h2>
    </div>
    <div class="content_block">
      <div class="items">
          <% begin
              favorites = Document.all.sample(4)
            end %>
            <% favorites.each do |doc| %>
              <%= render partial: 'repositories/resource', locals: { resource: doc} %>
            <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </article>
  <!-- McMillan resources -->
  <article class="contest_block_dark">
    <div class="icon_block">
      <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
    </div>
    <div class="content_block">
      <h2>Materiales pedagógicos McMillan disponibles en castellano e inglés</h2>
    </div>

    <div class="content_block">
    <div class="items">
        <% begin
            favorites = Document.all.sample(10)
          end %>
          <% favorites.each do |doc| %>
            <%= render partial: 'repositories/resource', locals: { resource: doc} %>
          <% end %>
      <div class="clear"></div>
    </div>
    </div>
  </article>

  <!-- INCIBE resources -->
  <article class="contest_block">
    <div class="icon_block">
      <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
    </div>
    <div class="content_block">
      <h2>Materiales INCIBE sobre mediación parental y tecnoadicciones</h2>
    </div>

    <div class="content_block">
    <div class="items">
        <% begin
            favorites = Document.all.sample(10)
          end %>
          <% favorites.each do |doc| %>
            <%= render partial: 'repositories/resource', locals: { resource: doc} %>
          <% end %>
      <div class="clear"></div>
    </div>
    </div>
  </article>

  <%= render :partial => "shared/create_account" %>

</section>
<%
# <h3> This page is a template used for testing Contests. </h3>
# <h4> Feel free to copy it to create your own contest. </h4>
# <br/>
#
# <h4> Additional pages. </h4>
# <p>Go to <a href="<%=contest_page_path(@contest,"page2",true)">page 2</a> of the contest.</p>
# <br/>
#
# <h4> Enroll/Disenroll form </h4>
# <%= render partial: 'contests/enroll', locals: { contest: @contest}
# <br/>
#
# <h4> Mail List </h4>
# <%= render partial: 'contests/mail_list', locals: { contest: @contest}
# <br/>
#
# <h4> Submissions </h4>
# <%= render partial: 'contests/submissions', locals: { contest: @contest}
# <br/>
# <p><a href="<%=contest_page_path(@contest,"submissions",true)">View all</a></p>
# <br/>
#
# <h4> Submit your resource: </h4>
# <%= render partial: 'contests/submission', locals: { contest: @contest}
# <br/>
#
# <h4> Your submissions: </h4>
# <%= render partial: 'contests/submissions_user', locals: { contest: @contest}
# <br/>
 %>
