
<%content_for :banner do%>
<!--illustration -->
  <div class="main-box main-box-contest">
    <img src="../assets/orange/contest17.jpg" alt="Imagen consurso EducaInternet" class="img_contest">
    <!-- center sentence + buttons -->
    <div class="main-title main-title-contest">
      <div class="title">
        <!-- TODO: diferenciar las fases -->
        <%= t('contest_page.main_title.title1_html') %>
      </div>
      <%if user_signed_in? && isUserEnrolled? %>
        <div></div>
      <% elsif user_signed_in? %>
        <button class="btn btn-contest" onclick="location.href='/contest/educa2017/other_fields_enrollment';">
          <%= t('contest_page.main_title.action1') %>
        </button>
      <% else %>
        <button class="btn btn-contest" onclick="location.href='/contest/educa2017/full_enrollment_registration';">
          <%= t('contest_page.main_title.action1') %>
        </button>
      <% end %>
    </div>
  </div>
<%end%>


<!--contest blocks -->
<section class="articles contest_blocks">
  <%if user_signed_in? &&  isUserEnrolled? && contest_fase == 2 %>
    <!--user resources gallery -->
    <%= render partial: 'contests/templates/educa2017/user_resources' %>
  <%end%>

  <%if contest_fase <= 2 %>
    <!--presentation + video -->
    <%= render partial: 'contests/templates/educa2017/presentation' %>
  <%end%>
  <%if contest_fase == 3 %>
    <!-- share resources -->
    <%= render partial: 'contests/templates/educa2017/share_resources' %>
  <%end%>
  <%if contest_fase == 4 %>
    <!-- winners -->
    <%= render partial: 'contests/templates/educa2017/winners' %>
  <%end%>
  <%if contest_fase <= 2 %>
    <!-- explanation -->
    <%= render partial: 'contests/templates/educa2017/explanation' %>
  <%end%>
  <%if user_signed_in? &&  isUserEnrolled? && contest_fase >= 2 %>
    <!--educainternet seal -->
    <%= render partial: 'contests/templates/educa2017/educainternet_seal' %>
  <%end%>

  <%if contest_fase >= 2 %>
    <!--educaconsejos -->
    <%= render partial: 'contests/templates/educa2017/educaconsejos' %>
  <%end%>
  <%if contest_fase <= 3 %>
    <!-- 3 steps -->
    <%= render partial: 'contests/templates/educa2017/steps' %>
  <%end%>


  <%if contest_fase <= 2 %>  <!-- **** este no tengo muy claro si debe estar tb en fase 3 -->
  <!-- help center -->
  <%= render partial: 'contests/templates/educa2017/help_center' %>
  <%end%>
  <!-- McMillan resources -->
  <%= render partial: 'contests/templates/educa2017/macmillan_resources' %>
  <!-- INCIBE resources -->
  <%= render partial: 'contests/templates/educa2017/incibe_resources' %>

  <!-- create account -->
  <%= render :partial => "shared/create_account" %>
</section>

<%
# <h3> This page is a template used for testing Contests. </h3>
# <h4> Feel free to copy it to create your own contest. </h4>
# <br/>
#
# <h4> Additional pages. </h4>
# <p>Go to <a href="<%=contest_page_path(@contest,"page2",true)">page 2</a> of the contest.</p>
# <br/>
#
# <h4> Enroll/Disenroll form </h4>
# <%= render partial: 'contests/enroll', locals: { contest: @contest}
# <br/>
#
# <h4> Mail List </h4>
# <%= render partial: 'contests/mail_list', locals: { contest: @contest}
# <br/>
#
# <h4> Submissions </h4>
# <%= render partial: 'contests/submissions', locals: { contest: @contest}
# <br/>
# <p><a href="<%=contest_page_path(@contest,"submissions",true)">View all</a></p>
# <br/>
#
# <h4> Submit your resource: </h4>
# <%= render partial: 'contests/submission', locals: { contest: @contest}
# <br/>
#
# <h4> Your submissions: </h4>
# <%= render partial: 'contests/submissions_user', locals: { contest: @contest}
# <br/>
 %>
