<% if user_signed_in? %>

	<section id="registration" class="registration_page">
	  <section class="registration">
			<h1><%= t('enroll_contest') %></h1>
			<div class="clear"></div>
			<p><%= t('enroll_contest_txt') %></p>
			<%= form_tag(enroll_contest_path(@contest), method: "post") do  %>
			<div class="form-group reg-labels">
				<% @contest.additional_fields.each do |element|%>
				<%= label :enrollment, t("contest." + @contest.name + "." + element) %>

					<% if element == 'province' %>
		            <%= select_tag element, options_for_select(['Alava','Albacete','Alicante','Almería','Asturias','Avila','Badajoz','Barcelona','Burgos','Cáceres','Cádiz','Cantabria','Castellón','Ciudad Real','Córdoba','La Coruña','Cuenca','Gerona','Granada','Guadalajara','Guipúzcoa','Huelva','Huesca','Islas Baleares','Jaén','León','Lérida','Lugo','Madrid','Málaga','Murcia','Navarra','Orense','Palencia','Las Palmas','Pontevedra','La Rioja','Salamanca','Segovia','Sevilla','Soria','Tarragona','Santa Cruz de Tenerife','Teruel','Toledo','Valencia','Valladolid','Vizcaya','Zamora','Zaragoza'], 'Madrid'), :required => true %>
					<% elsif element == 'postal_code' %>
		            <%= text_field_tag element, nil, :required => true, :maxlength => 5, :type => 'number' %>
		      <% elsif element == 'phone_number' %>
		            <%= text_field_tag element, nil, :required => true, :maxlength => 13, :type => 'number' %>
					<% elsif element == 'twitter' %>
							<%= text_field_tag element, nil, :required => false %>
		      <% else %>
		            <%= text_field_tag element, nil, :required => true %>
		      <%end%>
					</br>
				<%end%>
				</br>
				<div class="action">
					<%= submit_tag t("contest.enroll"), :class => "btn btn-primary pull-right" %>
				</div>

			</div>
			<% end %>
		</section>
	</section>
<%end%>
