<% if user_signed_in? %>	
	<div>Fill the following data to enroll this contest:</div>
	
	<%= form_tag(enroll_contest_path(@contest), method: "post") do  %>
		<% @contest.additional_fields.each do |element|%>
			<%= t("contest." + @contest.name + "." + element) %>
			<% if element == 'province' %>
            <%= select_tag element, options_for_select(['Alava','Albacete','Alicante','Almería','Asturias','Avila','Badajoz','Barcelona','Burgos','Cáceres','Cádiz','Cantabria','Castellón','Ciudad Real','Córdoba','La Coruña','Cuenca','Gerona','Granada','Guadalajara','Guipúzcoa','Huelva','Huesca','Islas Baleares','Jaén','León','Lérida','Lugo','Madrid','Málaga','Murcia','Navarra','Orense','Palencia','Las Palmas','Pontevedra','La Rioja','Salamanca','Segovia','Sevilla','Soria','Tarragona','Santa Cruz de Tenerife','Teruel','Toledo','Valencia','Valladolid','Vizcaya','Zamora','Zaragoza'], 'Madrid'), :required => true %>
          <% elsif element == 'postal_code' %>
             <%= text_field_tag element, nil, :required => true, :maxlength => 5, :pattern => '\d+' %>
          <% else %>
            <%= text_field_tag element, nil, :required => true %>
          <%end%> 
			</br>
		<%end%>
		<%= submit_tag t("contest.enroll") %>
	<% end %>
<%end%>