<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <table style="background-color: #eeeeee; height: 300px; padding-bottom: 40px; border:0; font-family: Helvetica,Arial,sans-serif;" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table style="padding: 15px 0px; border:0;" cellpadding="0" cellspacing="0" width="700">
            <!-- CABECERA MAIL-->
            <thead style="background-color: #FFF; height: 70px; display: block;position:relative;">
             <tr>
              <td style="padding-top:20px;">

              </td>
             </tr>
            </thead>

            <tbody>
              <tr>
                <td>
                  <div style="line-height: 1.3em;height: auto;font-weight: 100;padding: 20px 50px 10px; color: #484848; background-color: #FFF; font-size: 15px;">

                    <p style="font-size: 20px;margin-bottom: 15px;">

                    <%if @user %>
                      <span style="font-weight: bold;"><%=t('contest.first_mail.body1') + " " + @user.name %>:</span>
                    <%end%>
                    </p>
                    <p><%=t('contest.first_mail.body2')%></p>
                    <%if @user %>
                      <div style="margin-top:10px;margin-bottom:10px;padding: 15px; border-radius: 5px; background-color: whitesmoke;">
                        <span style="margin-bottom: 5px;"><%=@user.name%></span>
                        <br>
                        <span><%= @user.email %></span>
                      </div>
                    <%end%>
                    <p><%=t('contest.first_mail.body3')%></p>

                    <div style="margin-top:10px; font-weight:400;text-align: center; border-radius: 5px; margin-bottom:10px; border: 1px solid silver; padding:10px;">
                      <p><%=t('contest.first_mail.body4', :url=>Vish::Application.config.full_domain + url_for(@contest))%> </p>
                    </div>


                    <br/>


                    <h2 style="text-align: center;margin-bottom: 5px; font-weight: bold; color: #ff7900;"><%= t('contest_page.help_center.title') %></h2>
                    <p style="text-align: center;margin-bottom: 20px;">
                      <%= t('contest_page.help_center.text') %>
                    </p>
                    <a href="https://www.youtube.com/watch?list=PL-qNzC6Q_XM5tMM04Abi8Oy-qHVovu_-0&v=BVL2bDBRPLs"><img style="width="720" height="405"; padding-top: 10px; src="<%=Vish::Application.config.full_domain%>/assets/orange/video_contest.png"
                    onmouseover="this.src='<%=Vish::Application.config.full_domain%>/assets/orange/video_contest_hover.png';" onmouseout="this.src='<%=Vish::Application.config.full_domain%>/assets/orange/video_contest.png';"/></a>
                  </div>
                </td>
              </tr>

              <tr>
                <td style="background-color: white;">
                  <div class="redes" style="background-color: whitesmoke;">
                    <h4 style="padding-top: 30px;text-align: center; margin-bottom: 10px; margin-top: 20px; font-weight: bold;"><%= t('contest.first_mail.body5') %></h4>
                    <div class="redes_icons" style="display:flex; justify-content: center; align-items: center; font-size: 40px;">
                      <a href="https://es-es.facebook.com/EducaInternet/"><img style="width: 45px; margin-right: 40px; padding-top: 10px;" src="<%=Vish::Application.config.full_domain%>/assets/orange/facebook.png"></a>
                      <a href="https://twitter.com/EducaInternet"><img style="width: 45px; margin-right: 40px; padding-top: 10px;" src="<%=Vish::Application.config.full_domain%>/assets/orange/twitter.png"></a>
                      <a href="https://www.youtube.com/channel/UCH_RLT0J0CPBbOnibBO_mzg"><img style="width: 50px; margin-right: 40px; padding-top: 10px;" src="<%=Vish::Application.config.full_domain%>/assets/orange/youtube.png"></a>
                      <a href="https://blog.educainternet.es/"><img style="width: 100px; padding-top: 10px;" src="<%=Vish::Application.config.full_domain%>/assets/orange/logo-blog_educa.png"></a>
                    </div>
                    <p style="text-align: center; margin-bottom: 20px; padding-bottom: 30px;"><%= t('contest.first_mail.body6') %></p>
                  </div>
                </td>
              </tr>
            </tbody>


            <tfoot style="background-color: white;">
              <tr>
                <td style="text-align: right; padding: 20px 50px 10px">
                    <div style="color: #484848;">
                      <p style="font-size:20px;margin-bottom: 30px; margin-top: 10px;"><%=t('contest.first_mail.body8')%></p>
                      <p style="margin-bottom: 10px; font-weight: 100;"><%=t('contest.first_mail.body9')%></p>
                      <p style="margin-bottom: 20px; font-weight: 100;"><%=t('contest.first_mail.body10')%></p>
                    </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
