
<% unless user_signed_in? || true%>
<div class="create_account">

  <h2><%= t('create_account.title_html')%></h2>

  <div class="account_buttons">
    <button class="btn btn-primary" onclick="location.href='<%=new_user_registration_url%>'">
      <%= t('create_account.btn_reg')%>
    </button>

    <button class="btn btn-white" onclick="location.href='<%=user_session_path%>'">
        <%= t('create_account.btn_ent')%>
    </button>

    <button class="btn btn-default" onclick="location.href='/explore'">
      <%= t('create_account.btn_exp')%>
    </button>
  </div>
</div>
<%end%>
