<div id="settings" class="settings_page">
  <section class="settings">
    <h1>
      <i class="fa fa-cog"></i>
      <%= t('settings.for')%> <%= current_subject.name %>
    </h1>
    <div class="panel-group" id="settings-accordion">
      <% if current_subject == current_user %>
        <%= render partial: "devise/registrations/edit_user",
                   locals: { resource: current_user,
                             resource_name: :user } %>
        <%= render partial: "settings/language" %>
      <% end %>

      <%= render partial: "settings/notifications" %>

      <% #if current_subject.respond_to? :authentication_token %>
        <% #render partial: 'settings/api_key' %>
      <% #end %>
      <%contest1 = Contest.where(:template => "educa2017").first%>

      <% if current_subject == current_user && contest1 && !contest1.contest_enrollments.where(:actor_id => current_subject.actor.id).blank? %>

        <%= render partial: "devise/registrations/enrollments",
                   locals: { resource: current_user,
                             resource_name: :user } %>
      <% end %>

      <% if current_subject == current_user %>
        <%= render partial: "devise/registrations/delete_account",
                   locals: { resource: current_user,
                             resource_name: :user } %>
      <% else %>
        <%= render partial: 'destroy' %>
      <% end %>
    </div>
  </section>
</div>
