<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/acerca_de.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('about_page.title')%></h1>
        <h2><%= t('about_page.subtitle')%></h2>
      </div>
      <button class="btn btn-secondary btn-main-title" onclick="location.href='/explore';">
        <%= t('about_page.header_bt')%>
     </button>
    </div>
  </div>
<%end%>

<section class="blocks">
  <!-- why -->
  <article class="block why">
    <div class="content_block">
      <div class="intro">
        <h1><%= t('about_page.why.intro')%></h1>
        <div class="horizontal_line"></div>
      </div>
      <div class="text_block">
        <h2><%= t('about_page.why.title')%></h2>
        <p class="p_block"><%= t('about_page.why.text')%></p>
      </div>
    </div>
  </article>
  <!-- values -->
  <article class="block values">
    <div class="content_block">
      <div class="intro">
        <h1><%= t('about_page.values.intro')%></h1>
        <div class="horizontal_line"></div>
      </div>

      <div class="text_block float_L">
        <div class="flex">
          <div class="logo_orange"><img src="assets/orange/logo_orange.png"></div>
          <h2 class="padding10"><%= t('about_page.values.title')%></h2>
        </div>
        <p class="p_block"><%= t('about_page.values.text')%></p>
      </div>
      <div class="img_block float_L">
        <img src="assets/orange/ilustracion-5.png" alt="cover_image">
      </div>
    </div>
  </article>

  <div class="sub_values">
    <div>
      <h4><%= t('about_page.data.year')%></h4>
      <span>2013</span>
    </div>
    <div>
      <h4><%= t('about_page.data.resources')%></h4>
      <span><%=Document.count%></span>
    </div>
    <div>
      <h4><%= t('about_page.data.members')%></h4>
      <span><%=User.count%></span>
    </div>
  </div>
  <!-- great team -->
  <article class="block great_team">
    <div class="content_block">

      <div class="intro">
        <h1><%= t('about_page.great_team.intro')%></h1>
        <div class="horizontal_line"></div>
      </div>

      <div class="text_block float_L">
        <h2><%= t('about_page.great_team.title')%></h2>
      </div>
      <div class="text_block float_L">
        <p class="p_block float_L"><%= t('about_page.great_team.text')%></p>
      </div>

      <div class="great_team_imgs">
        <div class="great_team_img">
          <a href="http://www.macmillan.es" target="_blank">
            <img src="assets/orange/macmillan_edu_logo-02.png" alt="Logo Macmillan">
          </a>
        </div>
        <div class="great_team_img">
          <a href="http://www.red.es/redes/" target="_blank">
            <img src="assets/orange/red.es_logo-06.png" alt="Logo Red.es">
          </a>
        </div>
        <div class="great_team_img">
          <a href="https://www.incibe.es" target="_blank">
            <img src="assets/orange/incibe_logo-01.png" alt="Logo Incibe">
          </a>
        </div>
        <div class="great_team_img">
          <a href="https://www.is4k.es" target="_blank">
            <img src="assets/orange/is4k_logo-07.jpg" alt="Logo is4k">
          </a>
        </div>
        <div class="great_team_img">
          <a href="https://www.mecd.gob.es/portada-mecd/" target="_blank">
            <img src="assets/orange/mecd_logo-03.png" alt="Logo Ministerio educación">
          </a>
        </div>
        <div class="great_team_img">
          <a href="https://www.osi.es" target="_blank">
            <img src="assets/orange/osi_logo-04.png" alt="Logo Osi">
          </a>
        </div>
        <div class="great_team_img">
          <a href="http://ging.github.io" target="_blank">
            <img src="assets/orange/ging_logo-05.png" alt="Logo GING">
          </a>
        </div>
      </div>

    </div>
  </article>
  <%= render :partial => "shared/create_account" %>
</section>
