<%content_for :banner do%>
  <div class="main-box">
    <img src="/assets/orange/contributions.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('contributions_page.title')%></h1>
        <h2><%= t('contributions_page.subtitle')%></h2>
      </div>
      <!--<div class="main-buttons">
        <button class="btn btn-white btn-main-title" onclick="location.href='/explore';">
        <%= t('about_page.header_bt')%>
        </button>
     </div>-->
    </div>
  </div>
<%end%>

<section class="blocks">
    <!-- BLOCK 1 -->
  <div class="block_darker resources_box">
    <div class="content_block">
      <div class="p_block">
        <h2><%= raw t('contributions_page.authors')%></h2>
      </div>
      
      <div class="resources_box_gallery"><!--GALLERY-->

        <div class="resource_item resource_item01">
          <div class="resource_img resource_img_pixabay">
            <a href="https://pixabay.com/" target="_blank">
              <img src="assets/orange/tools/logo_pixabay02.png" alt="Logo Pixabay">
            </a>
          </div>
          <div class="resource_text">
            <p><%= raw t('contributions_page.pixabay')%></p>
          </div>
        </div>

        <div class="resource_item resource_item02">
          <div class="resource_img">
            <a href="https://www.flaticon.es/" target="_blank">
              <img src="assets/orange/tools/logo_flaticon.png" alt="Logo Flaticon">
            </a>
          </div>
          <div class="resource_text">
            <p><%= raw t('contributions_page.flaticon')%></p>
          </div>
        </div>


      </div><!--GALLERY END-->

    </div>
  </div>

  <!-- BLOCK 2 -->
  <div class="block resources_box">
    <div class="content_block">
      <div class="p_block">
        <h2><%= raw t('contributions_page.resources')%></h2>
      </div>

      <div class="resources_box_gallery"><!--GALLERY-->

        <div class="resource_item resource_item01">
          <div class="resource_img">
            <a href="http://getbootstrap.com/" target="_blank">
              <img src="assets/orange/tools/logo_bootstrap.png" alt="Logo Bootstrap">
            </a>
          </div>
          <div class="resource_text">
            <p><%= raw t('contributions_page.bootstrap')%></p>
          </div>
        </div>

        <div class="resource_item resource_item02">
          <div class="resource_img resource_img_fontawesome">
            <a href="http://fontawesome.io/" target="_blank">
              <img src="assets/orange/tools/logo_font-awesome.png" alt="Logo Font Awesome">
            </a>
          </div>
          <div class="resource_text">
            <p><%= raw t('contributions_page.fontawesome')%></p>
          </div>
        </div>

      </div><!--GALLERY END-->

    </div>
  </div>

  <!-- BLOCK 3 -->
  <div class="block_darker resources_contact">
    <div class="content_block">
      <div class="p_block">
        <h2><%= raw t('contributions_page.contact')%></h2>
      </div>
    </div>
  </div>

  
  <%= render :partial => "shared/create_account" %>
</section>
