<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/explora.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('explore_page.title')%></h1>
        <h2><%= t('explore_page.subtitle')%></h2>
      </div>
      <button class="btn btn-secondary btn-main-title" onclick="location.href='/search';">
       <%= t('teach.go_to_library')%>
     </button>
    </div>
  </div>
<%end%>

<!--Articles-->
<section class="articles">

  <article>
    <div class="teach">
      <div class="article_cont">
        <h4>SI ERES PROFESOR, ESTE ES TU SITIO</h4>
        <!--linea horizontal divisoria-->
        <div class="horizontal_line"></div>
        <!--/linea horizontal divisoria-->
            <div class="article_txt">
              <h3>Trabajamos junto a los grandes expertos en seguridad TIC, para que tengas disponibles los mejores recursos.</h3>
                <div class="article_links">
                  <button class="btn btn-default">Sexting</button>
                  <button class="btn btn-default">Privacidad</button>
                  <button class="btn btn-default">Ciberacoso</button>
                  <button class="btn btn-default">Grooming</button>
                  <button class="btn btn-default">Gestión información</button>
                  <button class="btn btn-default">Netiqueta</button>
                  <button class="btn btn-default">Virus y fraudes</button>
                  <button class="btn btn-default">Tecnoadicciones</button>
                </div>
            </div>
        </div>
    </div>
  </article>
  <article>
    <div class="resources">
      <div class="article_cont">
        <div class="article_txt">
          <div class="article_img">
            <i class="fa fa-star fa-4x" aria-hidden="true"></i>
          </div>
          <h3>Estos son los <strong>recursos educativos favoritos</strong><br>de los usuarios de EducaInternet</h3>
            <p>Lorem ipsum dolor sit amet, Quisque porta, erat sit amet dapibus molestie, dolor quam tempus lacus, sed aliquam arcu dolor in dolor. Pellentesque a nibh orci. Aenean in ligula quis eros suscipit auctor.</p>
            <div class="items">
                 <% types = VishConfig.getAvailableResourceModels({:return_instances => true})
                    favorites = Search.search({:n => 10, :order => "ranking DESC", :ao_ids_to_avoid => [2538, 2513, 2559, 3510, 6392], :models=> types})%>
                  <% favorites.each do |doc| %>
                    <%= render partial: 'repositories/resource', locals: { resource: doc} %>
                  <% end %>
                <div class="clear"></div>
            </div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="teach">
      <div class="article_cont">
        <div class="article_txt">
          <div class="article_img">
            <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
          </div>
          <h3>Deja que sean los <strong>expertos en seguridad TIC</strong> los que te cuenten todo lo que necesitas saber.</h3>
          <p>Lorem ipsum dolor sit amet, Quisque porta, erat sit amet dapibus molestie, dolor quam tempus lacus, sed aliquam arcu dolor in dolor. Pellentesque a nibh orci. Aenean in ligula quis eros suscipit auctor.</p>
        </div>
          <div class="items">
            <% begin
                experts = [Excursion.find(331), Excursion.find(329), Excursion.find(333), Excursion.find(434), Excursion.find(679)]
              rescue ActiveRecord::RecordNotFound => e
                experts = Excursion.all.sample(5)
              end %>
              <%experts.each do |doc| %>
                <%= render partial: 'repositories/resource', locals: { resource: doc} %>
              <% end %>
            <div class="clear"></div>
          </div>
      </div>
    </div>
  </article>
  <article>
    <div class="resources">
      <div class="article_cont">
        <div class="article_txt">
          <div class="article_img">
            <i class="fa fa-th-large fa-4x" aria-hidden="true"></i>
          </div>
          <h3><strong>Recursos de calidad</strong> diseñados para que tus alumnos y tú aprendais juntos cómo navegar seguro.</h3>
        </div>
          <div class="items">
            <% begin
                quality = [Category.find(68), Category.find(97), Category.find(81), Category.find(87), Category.find(103), Category.find(111)]
              rescue ActiveRecord::RecordNotFound => e
                quality = Category.all.sample(6)
              end %>
              <%quality.each do |doc| %>
                <%= render partial: 'repositories/resource', locals: { resource: doc} %>
              <% end %>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="resources teach">
      <div class="article_cont">
        <h4>BIBLIOTECA</h4>
          <!--linea horizontal divisoria-->
          <div class="horizontal_line"></div>
          <!--/linea horizontal divisoria-->
            <div class="article_txt">
              <h3>Esto no es todo. Pásate por la biblioteca de recursos. Puedes consultar todo el material de forma gratuita.</h3>
              <div class="article_img">
                <i class="fa fa-book fa-4x" aria-hidden="true"></i>
              </div>
            </div>
      </div>
    </div>
  </article>

  <%= render :partial => "shared/create_account" %>

</section>
