<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/explora.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('explore_page.title')%></h1>
        <h2><%= t('explore_page.subtitle')%></h2>
      </div>
      <button class="btn btn-white btn-main-title" onclick="location.href='/search';">
       <%= t('teach.go_to_library')%>
     </button>
    </div>
  </div>
<%end%>

<!--Articles-->

<section class="articles explore_blocks">
  <article class="block padding_bottom60">
    <div class="content_block">
      <div class="intro">
        <h1><%= t('explore_page.teacher.intro')%></h1>
        <div class="horizontal_line"></div>
      </div>
    </div>
    <div class="content_block">
      <h2><%= raw t('explore_page.teacher.title')%></h2>
      <div class="category_links">
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=sexting'"><%= t('explore_page.teacher.category_links.sexting')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=privacy'"><%= t('explore_page.teacher.category_links.privacy')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=cyberbullying'"><%= t('explore_page.teacher.category_links.ciber_bulling')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=grooming'"><%= t('explore_page.teacher.category_links.grooming')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=info_management'"><%= t('explore_page.teacher.category_links.information_management')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=netiquette'"><%= t('explore_page.teacher.category_links.netiquette')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=virus_protection'"><%= t('explore_page.teacher.category_links.viruses_cheats')%></button>
        <button class="btn btn-default" onclick="location.href='/search?type=Learning_object&category_ids=tecnoaddictions'"><%= t('explore_page.teacher.category_links.techno-addictions')%></button>
      </div>
    </div>
  </article>

  <!-- courses block-->
  <article class="block_dark padding_bottom60">
    <div class="intro_icon_block">
      <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
    </div>
    <div class="fix_gap"></div>
    <div class="content_block">
      <h2><%= raw t('explore_page.courses.title')%></h2>
    </div>
    <div class="content_block">
      <div class="items">
        <% begin
            courses = [Course.find(6), Course.find(5), Course.find(4), Course.find(3), Course.find(2)]
          rescue ActiveRecord::RecordNotFound => e
            courses = Course.all.sample(5)
          end %>
          <%courses.each do |doc| %>
            <% if doc.end_date && doc.end_date < Date.today %>
              <%= render partial: 'courses/course', locals: { course: doc, extra_class: "closed"} %>
            <% else %>
              <%= render partial: 'courses/course', locals: { course: doc} %>
            <% end %>
          <% end %>
          <div class="clear"></div>
      </div>
    </div>
  </article>


  <!-- favorites block-->
  <article class="block padding_bottom60">
    <div class="intro_icon_block">
      <i class="fa fa-star fa-4x" aria-hidden="true"></i>
    </div>
    <div class="fix_gap"></div>
    <div class="content_block">
      <h2><%= raw t('explore_page.favs.title')%></h2>
    </div>
    <div class="content_block">
      <div class="items">
           <% types = VishConfig.getAvailableResourceModels({:return_instances => true})
              favorites = Search.search({:n => 10, :order => "ranking DESC", :ao_ids_to_avoid => [2538, 2513, 2559, 3510, 6392], :models=> types})%>
            <% favorites.each do |doc| %>
              <%= render partial: 'repositories/resource', locals: { resource: doc} %>
            <% end %>
          <div class="clear"></div>
      </div>
    </div>
  </article>

<!-- videos block-->
  <article class="block_dark padding_bottom60">
    <div class="intro_icon_block">
      <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
    </div>
    <div class="fix_gap"></div>
    <div class="content_block">
      <h2><%= raw t('explore_page.experts.title')%></h2>
    </div>
    <div class="content_block">
      <div class="items">
        <% begin
            experts = [Excursion.find(331), Excursion.find(329), Excursion.find(333), Excursion.find(434), Excursion.find(679)]
          rescue ActiveRecord::RecordNotFound => e
            experts = Excursion.all.sample(5)
          end %>
          <%experts.each do |doc| %>
            <%= render partial: 'repositories/resource', locals: { resource: doc} %>
          <% end %>
        <div class="clear"></div>
      </div>
    </div>
  </article>

<!-- entities block-->
  <article class="block padding_bottom60">
    <div class="intro_icon_block">
      <i class="fa fa-th-large fa-4x" aria-hidden="true"></i>
    </div>
    <div class="fix_gap"></div>
    <div class="content_block">
      <h2><%= raw t('explore_page.entities.title')%></h2>
    </div>
    <div class="content_block">

      <div class="entities_imgs">
        <div class="entity_img">
          <a href="http://www.macmillan.es" target="_blank">
            <img src="assets/orange/macmillan_edu_logo-02.png" alt="Logo Macmillan">
          </a>
        </div>
        <div class="entity_img">
          <a href="http://www.red.es/redes/" target="_blank">
            <img src="assets/orange/red.es_logo-06.png" alt="Logo Red.es">
          </a>
        </div>
        <div class="entity_img">
          <a href="https://www.osi.es" target="_blank">
            <img src="assets/orange/osi_logo-04.png" alt="Logo Osi">
          </a>
        </div>
        <div class="entity_img">
          <a href="https://www.mecd.gob.es/portada-mecd/" target="_blank">
            <img src="assets/orange/mecd_logo-03.png" alt="Logo Ministerio educación">
          </a>
        </div>
        <div class="entity_img">
          <a href="https://www.incibe.es" target="_blank">
            <img src="assets/orange/incibe_logo-01.png" alt="Logo Incibe">
          </a>
        </div>
        <div class="entity_img">
          <a href="https://www.is4k.es" target="_blank">
            <img src="assets/orange/is4k_logo-07.jpg" alt="Logo is4k">
          </a>
        </div>
      </div>

    </div>
  </article>
  <!-- library block-->
  <article class="block_dark padding_bottom60">

    <div class="intro_icon_block">
      <i class="fa fa-book fa-4x" aria-hidden="true"></i>
    </div>
    <div class="fix_gap"></div>
    <div class="content_block">
      <div class="intro">
        <h1><%= t('explore_page.library.intro')%></h1>
        <div class="horizontal_line"></div>
      </div>
    </div>

    <div class="content_block">
      <h2><%= raw t('explore_page.library.title')%></h2>
    </div>

  </article>
  <%= render :partial => "shared/create_account" %>
</section>
