<%content_for :title do%><%= t("site.meta_title.overview") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.overview")%><%end%>

<% content_for :javascript do %>
  $("#i_overview li").click(function(){
    $("#i_overview li").removeClass("active");
    $(this).addClass("active");
  });
<% end %>

<section id="overview">
  <div class="icontitle">
    <h1><i class="fa fa-question-circle"></i>¿Qué es EducaInternet?</h1>
  </div>
  <div class="whiteframe">
    <div class="overviewindex visible-desktop">
      <ul class="nav bs-docs-sidenav" id="i_overview">

        <a href="#overview">
          <li class="active">
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Introducción a EducaInternet</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview2">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Temáticas principales</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview3">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Cursos especializados</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview4">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Biblioteca</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview5">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Herramientas de creación de contenidos</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview6">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Proyectos de clase</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview7">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">¿Cómo obtener ayuda?</div>
            <div class="clear"></div>
          </li>
        </a>
      </ul>
      <hr>
      <a href="/user_manual">
        <button type="button" class="btn btn-default btn-md">
          Descargar como pdf
        </button>
      </a>
    </div>

    <div class="overviewmiddle visible-desktop">
    </div>

    <div class="overviewcontent">
      <legend>Introducción a EducaInternet</legend>

      <div class="header_text margin-top10">

        <a target="_blank" href="<%= Vish::Application.config.full_domain %>"><%= t('thevish') %></a>
        es una plataforma educativa para aprender y enseñar sobre <b>uso seguro y responsable de las tecnologías</b>.
        Para <b>aprender</b> EducaInternet ofrece cursos especializados.<br/>
        Para <b>enseñar</b> EducaInternet ofrece tres posibilidades. 
        <div class="header_text margin-top10">
          <ol>
              <li style="list-style: decimal">Contenidos de la plataforma: Los contenidos de la plataforma, cursos, unidades didácticas o recursos simples (un audio, un video, etc.) están disponibles para todos los usuarios para enseñar o crear sus contenidos. Los podrás encontrar en la <a href="/search?type=Learning_object">biblioteca</a></li>
              <li style="list-style: decimal">Creando contenidos propios: EducaInternet ofrece herramientas de autor para poder crear cursos, unidades didácticas o subir recursos a la plataforma.</li>
              <li style="list-style: decimal">Con proyectos de clase: en los que serán los alumnos los que creen contenidos y así aprendan haciendo.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
