<%content_for :title do%><%= t("site.meta_title.overview") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.overview")%><%end%>
<%content_for :alternate_urls do%><%=raw alternate_urls(request.original_url, nil)%><%end%>

<% content_for :javascript do %>
  $("#i_overview li").click(function(){
    $("#i_overview li").removeClass("active");
    $(this).addClass("active");
  });
<% end %>

<section id="overview">
  <div class="icontitle">
    <h1><i class="fa fa-question-circle"></i>EducaInternet overview</h1>
  </div>
  <div class="whiteframe">
    <div class="overviewindex visible-desktop">
      <ul class="nav bs-docs-sidenav" id="i_overview">

        <a href="#overview">
          <li class="active">
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Introduction to EducaInternet</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview2">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">The Community of EducaInternet registered users</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview3">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Creating teaching units with ViSH Editor</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview4">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Uploading resources from mobiles and tablets</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview5">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Cloning teaching units</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview6">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Importing and exporting teaching units</div>
            <div class="clear"></div>
          </li>
        </a>
        <!--
        <a href="#overview7">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Virtual meetings and events with remote and mobile access</div>
            <div class="clear"></div>
          </li>
        </a>-->
      </ul>
      <hr>
      <a href="/user_manual">
        <button type="button" class="btn btn-default btn-md">
          Download as pdf
        </button>
      </a>
    </div>
    <div class="overviewmiddle visible-desktop">
    </div>
    <div class="overviewcontent">
      <legend>Introduction to the EducaInternet</legend>

      <div class="header_text margin-top10">
        <a target="_blank" href="<%= Vish::Application.config.full_domain %>">EducaInternet</a>
        is a social and collaborative site for creating educational resources about the <b>safe and responsible use of tecnologies</b>.
         The central element of the EducaInternet is the teaching unit, a sequence of visits (enriched slides or viewgraphs), designed for projection in the classroom.
         Each teaching unit is a sequence of well-designed visual compositions (mash-up) of multimedia resources linked from the Internet,
         from the local EducaInternet repository or from other federated repositories. The name teaching unit is a metaphor for an teaching unit in a virtual world of knowledge resources.
      </div>
      <br>
      <div class="header_text margin-top10">
        Teaching units are public HTML5 web resources, accessible over the Internet by means of a URL, which can be projected in full screen format with a beamer to support classroom activities.
        Some examples of teaching units are:
      </div>
      <br>
      <div class="header_text margin-top10">
        <ul>
          <a target="_blank" href="http://educainternet.es/excursions/8">
            <li style="list-style: initial">Sexting</li>
          </a>
          <a target="_blank" href="http://educainternet.es/excursions/41">
            <li style="list-style: initial">Pero, ¿qué es la nomofobia?</li>
          </a>
          <a target="_blank" href="http://educainternet.es/excursions/115">
            <li style="list-style: initial">El derecho a la vida privada del menor</li>
          </a>
          <a target="_blank" href="http://educainternet.es/excursions/285">
            <li style="list-style: initial">Grooming</li>
          </a>
          <a target="_blank" href="http://educainternet.es/excursions/45">
            <li style="list-style: initial">Seguridad en Internet: Definiciones</li>
          </a>
          <a target="_blank" href="http://educainternet.es/excursions/99">
            <li style="list-style: initial">Una contraseña en GooglePlay</li>
          </a>
        </ul>
      </div>
      <br>

      <div class="header_text margin-top10">
       EducaInternet is an evolution of the platform <a href="http://vishub.org" target="_blank">Virtual Science Hub (ViSH)</a>. ViSH is also a social and collaborative site about more generic topics. Its catalogue can be accessed <a href="http://vishub.org/search?catalogue=true" target="_blank">here</a>, it contains topics like chemistry, geography, art, etc. Some of the examples that we will link in the next sections come from ViSH because there are not examples created by the users of some functionalities in EducaInternet.
      </div>
      <br>

      <div class="header_text margin-top10">
        EducaInternet allows also the realization of collaborative activities and projects in the classroom involving teachers and students.
        The use of a shared account supervised by a teacher or tutor is recommended.
        For example the following teaching unit is the result of a real geology classroom project for mineral identification performed in a highschool in Galicia (Spain):
      </div>
      <br>

      <div class="header_text margin-top10">
        <ul>
          <a target="_blank" href="http://vishub.org/excursions/515">
            <li style="list-style: initial">Classroom project</li>
          </a>
          <a target="_blank" href="http://vishub.org/excursions/395">
            <li style="list-style: initial">Student work (Amatista in Spanish)</li>
          </a>
          <a target="_blank" href="http://vishub.org/excursions/912">
            <li style="list-style: initial">Student work translated to English</li>
          </a>
        </ul>
      </div>
      <br>

      <div class="header_text margin-top10">
        Teaching units can be projected in a physical classroom in full-screen, like a slide or viewgraph presentation, but can be also:
      </div>
      <br>
      <div class="header_text margin-top10">
        <ul>
          <li style="list-style: initial">Viewed on browsers, smartphones, tablets or any HTML5 enabled device.</li>
          <li style="list-style: initial">Embedded in Web pages or LMSs (Moodle, ..) like YouTube videos.</li>
          <!--<li style="list-style: initial">Projected in the ViSH virtual classroom, based on<a target="_blank" href="http://www.mashme.tv"> MashMe.tv</a>.</li>-->
          <li style="list-style: initial">Exported as a SCORM object to be imported elsewhere.</li>
          <li style="list-style: initial">Downloaded for off-line presentation in a classroom or meeting (under development).</li>
          <li style="list-style: initial">Cloned and modified or enriched by any other member of the community.</li>
        </ul>
      </div>
      <br>

      <div id="overview2" class="header_text margin-top10">
        Teaching units and resources can be added to a
        <a target="_blank" href="<%= Vish::Application.config.full_domain %>/search?catalogue=true">Temateca</a> or
        <a target="_blank" href="<%= Vish::Application.config.full_domain %>/search?directory=true">Recursoteca</a> respectively,
        where they appear classified by topic, language and many other filters.
      </div>
      <br>

      <div class="header_text margin-top10">
        <br>
        <legend>The Community of EducaInternet registered users</legend>
      </div>
      <div class="header_text margin-top10">
        Teaching units are public objects, which can be freely reused in the classroom, blogs or LMSs by any person having access to EducaInternet with a standard Internet access.
        But to create or modify teaching units a user must register in EducaInternet and become a member of the community.
        <a target="_blank" href="<%= Vish::Application.config.full_domain %>/conditions_of_use">The EducaInternet terms of use</a>
        must be accepted to obtain an account.
      </div>
      <br>

      <div class="header_text margin-top10">
        Each account has a profile containing:
      </div>
      <br>

      <div class="header_text margin-top10">
        <ul>
          <li style="list-style: initial">The teaching units created from scratch with the editor or the teaching units cloned from other EducaInternet users and possibly edited afterwards.</li>
          <!--<li style="list-style: initial">The events created by the user.</li>-->
          <li style="list-style: initial">The resources uploaded by the user in the EducaInternet repository, possibly as components of teaching units.
            Pictures, videos or animations used in teaching units can be uploaded in the repository or linked from the Internet.</li>
          <li style="list-style: initial">The categories to classify teaching units according to user needs. Categories are tag names,
            which act as folders or directories of related content. The favorites category contains teaching units marked as favorite.</li>
        </ul>
      </div>
      <br>
      <div class="header_text margin-top10">
        EducaInternet is a social site where users can follow other users in order to receive information about the teaching units they produce.
        The home of a user shows the teaching units created or cloned by the users followed by him.
        The profile of a given user has also 2 tabs on the right hand side, with the users followed by him and the users who follow him.
      </div>
      <br>
      <div class="header_text margin-top10">
        In addition, a recommender system will highlight the most relevant content in EducaInternet related with the type of content accessed, when teaching units are viewed.
        For a registered user his profile is also taken into account in the recommendation.
      </div>
      <br>
      <div id="overview3" class="header_text margin-top10">
        Each resource supports spam or content error notifications,
        which provide the basis for thecontrol of the adequacy of teaching units with the aims of the terms of use of EducaInternet: useful, correct and good quality content.
      </div>
      <br>

      <div class="header_text margin-top10">
        <br>
        <legend>Creating teaching units with the teaching unit editor</legend>
      </div>
      <div class="header_text margin-top10">
        Registered users can create teaching units with the online editor.
        The editor is easy to use and does not require technical skills. A user can edit only the teaching units he has created or cloned.
      </div>
      <br>

      <div class="header_text margin-top10">
        Each teaching unit is organized as a sequence of slides, with a standard slide or viewgraph format, where each can be one of the following elements:
      </div>
      <br>
      <ul>
        <li style="list-style: initial">
          <span class="editor_title_bold">Visual mash-up.</span>
          Template based visual composition of text, pictures, videos,
          <a target="_blank" href="http://vishub.org/categories/64">audio records</a>,
          <a target="_blank" href="http://vishub.org/categories/65">interactive apps</a>,
          <a target="_blank" href="http://vishub.org/categories/62">3D objects</a>,
          <a target="_blank" href="http://vishub.org/categories/63">simulations</a>,
          etc. The visual components included can be hosted in the local ViSH repository or in any server on the Internet.
        </li>
        <br>
        <li style="list-style: initial">
          <span class="editor_title_bold">Quiz.</span>
          An interactive slide designed to present a question or exercise to be answered in real time in a classroom from desktop, smartphones or tablets.
          <a target="_blank" href="http://vishub.org/categories/61">(Quizzes examples)</a>
          . True/false and multiple-choice is supported. Self evaluation or mobile, tablet PC based audience response system (ARS) can be added to the a quiz.
        </li>
        <br>
        <li style="list-style: initial">
          <span class="editor_title_bold">Flashcards.</span>
          Slide with hot zones where clicking leads to a ViSH slide, another complete teaching units or to any Website or resource on the Internet.
          <a target="_blank" href="http://vishub.org/categories/57">(Flashcards examples)</a>
        </li>
        <br>
        <li style="list-style: initial">
          <span class="editor_title_bold">Virtual tours.</span>
          Smartcards where the background is a specific Google Map configuratión.
          <a target="_blank" href="http://vishub.org/categories/58">(Virtual tour examples)</a>
        </li>
        <br>
        <li style="list-style: initial">
          <span class="editor_title_bold">Enriched video.</span>
          A video with break points, where the video is stopped and a ViSH slide (explanation, quiz, etc.) is presented. The video continues when the slide is closed.
          <a target="_blank" href="http://vishub.org/categories/59">(Enriched videos examples)</a>
        </li>
        <br>
        <li style="list-style: initial">
          <span class="editor_title_bold">Web Apps.</span>
          Interactive HTML5 Web apps to be inserted as an active component in a ViSH slide, such as interactive calculators, animations, simulators, virtual labs, etc.
          <a target="_blank" href="http://vishub.org/categories/60">(Web Apps examples)</a>
          . HTML5 Web apps are created using standard HTML, CSS and JavaScript exactly in the same way as standard HTML5 client side applications are created.
        </li>
      </ul>
      <br>
      <div id="overview4" class="header_text margin-top10">
        Each teaching unit can be complemented with pedagogical information describing appropriate teaching scenarios, teaching guidelines, specific requirements,
        preparation tasks or simply ideas or feedback about the use of teaching units in class.
      </div>
      <br>

      <div class="header_text margin-top10">
        <br>
        <legend>Uploading resources from mobiles and tablets</legend>
      </div>
      <div class="header_text margin-top10">
        EducaInternet and the teaching units have been designed in HTML5 to allow flexible ways of uploading resources from mobile devices.
        Pictures or videos taken with a mobile or tablet can be uploaded to the EducaInternet repository very easily.
      </div>
      <br>
      <div id="overview5" class="header_text margin-top10">
        Just by accesing EducaInternet with the browser of the smartphone or tablet, and selecting the resource upload function to do upload a picture or video taken on the fly or stored in the repository.
        After the resource has been uploaded in the repository, any teaching units can use it.
      </div>
      <br>

      <div class="header_text margin-top10">
        <br>
        <legend>Cloning teaching units</legend>
      </div>
      <div class="header_text margin-top10">
        One of the main goals of EducaInternet is enabling collaborative content production.
        The basic mechanism for enriching or adapting an teaching unit somebody has produced is cloning.
        Therefore any teaching unit published in EducaInternet can be cloned by other registered users for enrichment, modification,
        translation into another language or whatever.
      </div>
      <br>
      <div class="header_text margin-top10">
        Teaching units are published in EducaInternet with a creative commons non-commercial alike license,
        where others have the right to use and modify the teaching units for non-commercial purposes.
        EducaInternet is contribution friendly and each teaching unit makes the authors of the cloning chain explicit,
        such that all who have contributed to a given teaching unit receive their recognition.
      </div>
      <br>
      <div id="overview6" class="header_text margin-top10">
        When a user clones a given teaching unit, a copy is made in the teaching unit area of his profile.
        The author of the cloned teaching unit and previous authors contributing to it, are added to the section “with content from”,
        such that authorship is properly recognized. The user becomes the owner of the cloned copy and can edit it as needed with the editor.
      </div>
      <br>

      <div class="header_text margin-top10">
        <br>
        <legend>Importing and exporting teaching units.</legend>
      </div>
      <div class="header_text margin-top10">
        PDF presentations can be imported into an teaching unit to create new slides,
        which have the PDF slide as a background and where other elements can be added.
      </div>
      <br>
      <div class="header_text margin-top10">
          Teaching units can also be imported and exported as SCORM objects. SCORM exported teaching units can be imported in LMSs and other platforms supporting the standard.
          Teaching units can also be accessed via an URL or embedded in Web pages, blogs or LMSs (Moodle, ..) like YouTube videos.
      </div>
      <br>
      <div class="header_text margin-top10">
        Downloading of teaching units for off-line presentation in a classroom or meeting is under development using the HTML5 offline mode.
        Teaching units will only be enabled for off-line presentation, if all the resources the use can be cached in the client, i.e.
        if they are hosted in the ViSH local repository. Downloading of teaching units as a set of PDF slides, but loosing all the active multimedia content of the teaching unit, is also under study.
      </div>
      <br>
      <!--
      <div id="overview7" class="header_text margin-top10">
        <br>
        <legend>Virtual meetings and events with remote and mobile access.</legend>
      </div>
      <div class="header_text margin-top10">
        ViSH uses
        <a target="_blank" href="http://www.mashme.tv">MashMe.tv</a>
        to implement a virtual classroom based on collaborative videoconferencing,
        where several classrooms in different schools can connect and participate in a virtual event with live demonstrations, discussions,
        remote lecture delivery, etc. These meetings can be based on teaching units or on other social media available on the Internet.
      </div>
      <br>
      <div class="header_text margin-top10">
        MashMe.tv supports access to the webinar rooms from desktops, smartphones and tablets.
        The webcam of a mobile device can be used to show the physical place being visited, the expositions of a museum,
        to interview people at the visited site or the result of a scientific experiment (telescope, microscope, accelerator, etc.)
        directly on the scientific infrastructure. Mobile devices can be used to walk freely around the visited site and show the most relevant parts of it.
      </div>
      -->
      <br>
    </div>
  </div>
</section>
