<%content_for :title do%><%= t("site.meta_title.overview") %><%end%>
<%content_for :keywords do%><%= t("site.current.keywords") %><%end%>
<%content_for :description do%><%= t("site.meta_desc.overview")%><%end%>

<% content_for :javascript do %>
  $("#i_overview li").click(function(){
    $("#i_overview li").removeClass("active");
    $(this).addClass("active");
  });
<% end %>

<section id="overview">
  <div class="icontitle">
    <h1><i class="fa fa-question-circle"></i>¿Qué es EducaInternet?</h1>
  </div>
  <div class="whiteframe">
    <div class="overviewindex visible-desktop">
      <ul class="nav bs-docs-sidenav" id="i_overview">

        <a href="#overview">
          <li class="active">
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Introducción a EducaInternet</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview2">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Temáticas principales</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview3">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Cursos especializados</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview4">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Biblioteca</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview5">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Herramientas de creación de contenidos</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview6">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">Proyectos de clase</div>
            <div class="clear"></div>
          </li>
        </a>
        <a href="#overview7">
          <li>
            <i class="fa fa-angle-right"></i>
            <div class="index_title">¿Cómo obtener ayuda?</div>
            <div class="clear"></div>
          </li>
        </a>
      </ul>
      <hr>
      <a href="/user_manual">
        <button type="button" class="btn btn-default btn-md">
          Descargar como pdf
        </button>
      </a>
    </div>

    <div class="overviewmiddle visible-desktop">
    </div>

    <div class="overviewcontent">
      <legend>Introducción a EducaInternet</legend>

      <div class="header_text margin-top10">

        <a target="_blank" href="<%= Vish::Application.config.full_domain %>"><%= t('thevish') %></a>
        es una plataforma educativa para aprender y enseñar sobre <b>uso seguro y responsable de las tecnologías</b>.
        Para <b>aprender</b> EducaInternet ofrece cursos especializados.<br/>
        Para <b>enseñar</b> EducaInternet ofrece tres posibilidades. 
        <div class="header_text margin-top10">
          <ol>
              <li style="list-style: decimal">Contenidos de la plataforma: Los contenidos de la plataforma, cursos, unidades didácticas o recursos simples (un audio, un video, etc.) están disponibles para todos los usuarios para enseñar o crear sus contenidos. Los podrás encontrar en la <a href="/search?type=Learning_object">biblioteca</a></li>
              <li style="list-style: decimal">Creando contenidos propios: EducaInternet ofrece herramientas de autor para poder crear cursos, unidades didácticas o subir recursos a la plataforma.</li>
              <li style="list-style: decimal">Con proyectos de clase: en los que serán los alumnos los que creen contenidos y así aprendan haciendo.</li>
          </ol>
        </div>
      </div>

      <div id="overview2" class="header_text margin-top10">
        <br>
        <legend>Temáticas principales</legend>
      </div>
      <div class="header_text margin-top10">
        En EducaInternet se han identificado once temáticas principales en torno a las cuales se organizan
        y clasifican todos los recursos que ofrece la plataforma (en el futuro podrán añadirse más temas
        según vayan apareciendo nuevas necesidades o a demanda de los usuarios).
        Estas temáticas son:
        <ul>
          <li>Gestión de la información</li>
          <li>Acceso a contenidos inapropiados</li>
          <li>Gestión de la privacidad e identidad digital</li>
          <li>Netiqueta: comportamiento en línea</li>
          <li>Grooming</li>
          <li>Cyberacoso</li>
          <li>Sexting</li>
          <li>Suplantación de identidad</li>
          <li>Tecnoadicciones</li>
          <li>Comunidades peligrosas en línea</li>
          <li>Protección ante virus y fraudes</li>
        </ul>
      </div>  


      <div id="overview3" class="header_text margin-top10">
        <br>
        <legend>Cursos especializados</legend>
      </div>
      <div class="header_text margin-top10">
        En la página <a href="/learn">Fórmate</a> se encuentran cursos especializados creados por <a href="http://red.es">Red.es</a>. Uno sobre cada uno de los temas de la plataforma. 
      </div>

      <div id="overview4" class="header_text margin-top10">
        <br>
        <legend>Biblioteca</legend>
      </div>
      <div class="header_text margin-top10">
        La plataforma ofrece una <a href="/search?type=Learning_object">biblioteca</a> donde se encuentran todos los recursos educativos creados por expertos y por la comunidad de usuarios. Estos recursos son de tres tipos:
        <ul>          
          <li>Recursos simples: que los usuarios de EducaInternet han subido a la plataforma, por ejemplo un audio, un video, un PDF, un documento, etc. Se pueden utilizar para aprender pero sobretodo se usarán para introducirlos en los otros recursos que creemos.</li>
          <li>Unidades didácticas: Son presentaciones enriquecidas. En ellas el usuario combina recursos de la plataforma, con cualquier recurso de Internet, incorpora posibilidad de añadirlos por URL o con un buscador en Youtube o Flikr por ejemplo. </li>
          <li><b>Cursos</b>: Tanto "especializados" como creados por la comunidad. Los cursos con un conjunto de recursos de cualquiera de los otros tipos combinados con tareas para que los alumnos colaboren y galerías de recursos adicionales.</li>
        </ul>
        Para utilizar estos recursos no hay que estar registrado. Pero para crearlos si, te invitamos a que te registres <a href="/users/sign_up">aquí</a>.
      </div>

      <div id="overview5" class="header_text margin-top10">
        <br>
        <legend>Herramientas de creación de contenidos</legend>
      </div>
      <div class="header_text margin-top10">
        EducaInternet tiene tres tipos de recursos y para cada uno ofrece una manera de crearlos o añadirlos a la plataforma. hay que estar registrado en la plataforma para usar estas herramientas ya que necesitas tener un perfil para que se guarde todo lo que subes.
        <ul>
          <li>Recursos simples: se pueden subir a la plataforma desde el menú superior o desde tu perfil. Pueden ser de cualquier tipo, un audio, un video, un PDF, etc. En el caso de audio y video se podrán subir directamente desde el móvil, al hacer click en el botón el móvil ofrece la posibilidad de abrir la cámara directamente.</li>
          <li>Unidades didácticas: EducaInternet ofrece una herramienta para crear unidades didácticas o presentaciones enriquecidas. Puedes ver videotutoriales de cómo usar esta herramienta <a href="https://www.youtube.com/playlist?list=PLve_ezrFIJJxjVyz2dacXNIYnqypvg2vb">aquí</a> </li>
          <li>Cursos: se pueden crear muy fácilmente combinando unidades didácticas y recursos simples y añadiendo texto y tareas para los alumnos.</li>
        </ul>
      </div>

      <div id="overview6" class="header_text margin-top10">
        <br>
        <legend>Proyectos de clase</legend>
      </div>
      <div class="header_text margin-top10">
        La nueva funcionalidad de proyectos de clase permitirá que sean los alumnos los que usando las herramientas de creación creen contenidos educativos y así "aprender haciendo". 
        Esta funcionalidad requiere un paso previo de activación del usuario ya que será el profesor el que se responsabilice de crear cuentas de usuario de alumnos y de la actividad de éstos en la plataforma, recordemos que son menores. Pero la plataforma facilita este proceso y al hacer click en "proyectos de clase" en el menú de usuario en la parte superior derecha se abrirá el menú de solicitud de permiso y te guiará en el proceso.
      </div>

      <div id="overview7" class="header_text margin-top10">
        <br>
        <legend>¿Cómo obtener ayuda?</legend>
      </div>
      <div class="header_text margin-top10">
        Si tienes dudas puedes ponerte en contacto con nosotros en contacto@educainternet.es
      </div>


    </div>
  </div>
</section>
