<%content_for :title do%><%= t('site.meta_title.teach') %><%end%>
<%content_for :keywords do%><%= t('site.meta_keywords.teach') %><%end%>
<%content_for :description do%><%= t('site.meta_desc.teach')%><%end%>
<%content_for :alternate_urls do%><%=raw alternate_urls(request.original_url, nil)%><%end%>

<% content_for :banner do %>
  <%=render :partial => "search/main_title", :locals => { :main_title_body => t('banner.teach') }%>
<%end%>

<div class="row">
    <div class="col-md-4 col-block">
      <div class="col-block-img">
        <img src="assets/orange/library.jpg">
      </div>
      <h3><%=t("teach.library")%></h3>
    	<p><%=t("teach.library_desc")%></p>
      <hr>
      <h5><i class="fa fa-book"></i><a href="/search?type=Learning_object&q="><%=t("teach.go_to_library")%></a></h5>
      <hr>
      <h5><i class="fa fa-youtube-play"></i><a href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ" target="_blank">Ver tutorial</a></h5>
      <h5><i class="fa fa-question-circle"></i><a href="/overview" target="_blank"><%=t("teach.help")%></a></h5>
 	  </div>
 	  <div class="col-md-4 col-block">
      <div class="col-block-img">
        <img src="assets/orange/resources.jpg">
      </div>
      <h3><%=t("teach.creating")%></h3>
    	<p><%=t("teach.creating_desc")%></p>
      <hr>
      <h5><i class="fa fa-graduation-cap"></i><%= link_to new_workshop_path do %><%= t('workshop.actions.add') %><% end %></h5>
    	<h5><i class="fa fa-list-alt"></i><%= link_to new_excursion_path do %><%= t('excursion.actions.add') %><% end %></h5>
      <h5><i class="fa fa-upload"></i><a href="#AddResource" data-toggle="modal"><%=t('resource.actions.add')%></a></h5>

      <hr>
      <h5><i class="fa fa-youtube-play"></i><a href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ" target="_blank"><%=t("teach.view_tutorial")%></a></h5>
 	  </div>
 	  <div class="col-md-4 col-block">
      <div class="col-block-img">
        <img src="assets/orange/3.jpg">
      </div>
    	<h3><%=t("teach.projects")%></h3>
	  	<p><%=t("teach.projects_desc")%></p>
      <hr>
      <h5><i class="fa fa-users"></i>
        <%if can?(:create, PrivateStudentGroup.new)%>
          <%= link_to private_student_groups_path do %>
            <%= t('private_student.actions.add') %>
          <% end %>
        <%else%>
          <%= link_to(raw(t('private_student.actions.request')), new_service_request_private_student_group_path, :title => t("private_student.request_help"), :remote=>true, :data => {:toggle=>"modal", :target=>"#RequestPermModal"}) %>
        <%end%>
      </h5>
      <hr>
      <h5><i class="fa fa-youtube-play"></i><a href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ" target="_blank"><%=t("teach.view_tutorial")%></a></h5>
      <h5><i class="fa fa-question-circle"></i><a href="/overview" target="_blank"><%=t("teach.help")%></a></h5>
 	  </div>
 </div>
