<%content_for :banner do%>
  <div class="main-box">
    <img src="assets/orange/que_hacemos.jpg" alt="cover_image">
    <!-- center sentence + buttons -->
    <div class="main-title">
      <div class="title">
        <h1><%= t('whatwedo_page.title')%></h1>
        <h2><%= t('whatwedo_page.subtitle')%></h2>
      </div>
     <button class="btn btn-secondary btn-main-title" onclick="location.href='http://blog.educainternet.es';">
       <%= t('orange_front.carousel.title4')%>
    </button>
    </div>
  </div>

  <section class="entities">
    <div class="front_blocks">
        <!-- En los bloques falta definir qué enrtradas mostramos y cambiar los links -->
        <!-- BLOCK 1 -->
        <div class="block_darker">
          <div class="content_block">
            <div class="img_block float_L grayscale">
              <a href="http://blog.educainternet.es" target="_blank"><img src="assets/orange/contest17_small.jpg"></a>
            </div>
            <div class="text_block float_L">
              <div class="title_block">
                <h3><%= t('whatwedo_page.article_1.title')%></h3>
              </div>
              <div class="p_block">
                <p><%= t('whatwedo_page.article_1.text')%></p>
                <a href="http://blog.educainternet.es" target="_blank"><%= t('view_more')%></a>
              </div>
            </div>
          </div>
        </div>

        <!-- BLOCK 2 -->
        <div class="block">
          <div class="content_block">
            <div class="img_block float_R grayscale">
              <a href="http://blog.educainternet.es" target="_blank"><img src="assets/orange/home.jpg"></a>
            </div>
            <div class="text_block float_L">
              <div class="title_block">
                <h3><%= t('whatwedo_page.article_2.title')%></h3>
              </div>
              <div class="p_block">
                <p><%= t('lorem_ipsum')%></p>
                <a href="http://blog.educainternet.es" target="_blank"><%= t('view_more')%></a>
              </div>
            </div>
          </div>
        </div>

        <!-- BLOCK 3 -->
        <div class="block_darker">
          <div class="content_block">
            <div class="img_block float_L grayscale">
              <a href="http://blog.educainternet.es" target="_blank"><img src="assets/orange/home.jpg"></a>
            </div>
            <div class="text_block float_L">
              <div class="title_block">
                <h3><%= t('whatwedo_page.article_3.title')%></h3>
              </div>
              <div class="p_block">
                <p><%= t('lorem_ipsum')%></p>
                <a href="http://blog.educainternet.es" target="_blank"><%= t('view_more')%></a>
              </div>
            </div>
          </div>
        </div>

        <!-- BLOCK 4 -->
        <div class="block">
          <div class="content_block">
            <div class="img_block float_R grayscale">
              <a href="http://blog.educainternet.es" target="_blank"><img src="assets/orange/home.jpg"></a>
            </div>
            <div class="text_block float_L">
              <div class="title_block">
                <h3><%= t('whatwedo_page.article_4.title')%></h3>
              </div>
              <div class="p_block">
                <p><%= t('lorem_ipsum')%></p>
                <a href="http://blog.educainternet.es" target="_blank"><%= t('view_more')%></a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <%= render :partial => "shared/create_account" %>
  </section>

<%end%>
