<div class="container-fluid" id="banner_head">
	<div class="col-lg-3 col-md-2">
		<div class="banner_for_vertical">
			<span class="banner_orange_color"><%=t("banner.one")%></span><br/>
			<span class=""><%=t("banner.two")%><br><%=t("banner.twob")%></span>
		</div>
	</div>
	<h3 class="col-lg-5 col-md-5 banner_course_title">
		<%=t("banner.three")%>
	</h3>
	<div class="col-lg-4 col-md-5 banner_logos">
		<a class="banner_enrol_button" href="http://gestiondgmejora.educa.madrid.org/educainternet/index.php/login"><div class="btn btn-primary"><i class="fa fa-hand-o-up"></i>  <%=t("banner.four")%></div></a>
		<a class="banner_one_logo" href="http://www.madrid.org/" target="_new"><img src="/assets/orange/logocomunidad.png"></a>
		<a class="banner_one_logo" href="http://www.orange.es" target="_new"><img src="/assets/orange/logo_orange.png"></a>
		<a class="banner_one_logo" href="http://www.red.es/redes/" target="_new"><img src="/assets/orange/red-es.png"></a>
	</div>
</div>
