<!-- banner concurso
<div id="banner" style="display:none">
  <div id="close_banner">x</div>
  <a href="/contest/educa2016/page/submissions">
    <div class="banner_concurso">
      <img src="<%= t('orange_front.banner_contest')%>">
    </div>
  </a>
</div>
fin banner -->

<div id="social_networks" class="social_networks">
  <div id="facebook_btn" class="facebook_btn">
    <i class="fa fa-facebook fa-big"></i>
  </div>
  <div id="twitter_btn" class="twitter_btn">
    <i class="fa fa-twitter fa-big"></i>
  </div>
  <!-- Youtube
  <div id="youtube_btn" class="youtube_btn">
    <i class="fa fa-youtube fa-big"></i>
  </div>
  -->
</div>

<div id="drop_right_facebook" class="drop_right_facebook">
  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEducaInternet%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="500" style="overflow:hidden" scrolling="no" border="0" frameborder="0" allowTransparency="true"></iframe>
</div>

<div id="drop_right_twitter" class="drop_right_twitter">
  <a class="twitter-timeline" href="https://twitter.com/EducaInternet" width="340" height="500" border="0" frameborder="0">Tweets by EducaInternet</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<!-- Youtube
<div id="drop_right_youtube" class="drop_right_youtube">
  <iframe src="https://www.youtube.com/channel/UCH_RLT0J0CPBbOnibBO_mzg" width="340" height="500" border="0" frameborder="0"></iframe>
</div>
-->

<div id="veil" class="veil disp_none"></div>

<div class="main-box">
  <img src="assets/orange/home.jpg" alt="cover_image">
  <!-- center sentence + buttons -->
  <div class="main-title">
    <div class="title">
      <h1><%= t('orange_front.message')%></h1>
      <h2><%= t('orange_front.message_html')%></h2>
    </div>
    <a href="/search" class="btn-js btn-anim">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     <%= t('orange_front.carousel.title2')%>
    </a>
  </div>
</div>

<div class="entities">
  <%= render partial: 'frontpage/menu_blocks'%>
</div>

<%= render partial: 'layouts/create_account'%>


<% content_for :javascript do %>
  $('#close_banner').click(function(){
    $("#banner").remove();
  });
  $("#banner").show("slide", { direction: "right", easing: "easeOutQuart" }, 1000);

<% end %>
