
<div class="main-box">
  <img src="assets/orange/home.jpg" alt="cover_image">
  <!-- center sentence + buttons -->
  <div class="main-title">
    <div class="title">
      <h1><%= t('home_page.title')%></h1>
      <h2><%= t('home_page.subtitle')%></h2>
    </div>
    <div class="main-buttons">
      <button class="btn btn-primary btn-left btn-main-title btn-main-title-home" onclick="location.href='/explore';">
        <%= t('orange_front.carousel.title2')%>
     </button>
     <button class="btn btn-white btn-main-title btn-main-title-home btn-right margin_5_left" onclick="location.href='/about';">

       <%= t('home_page.bt_aboutus')%>
      </button>
    </div>
  </div>
</div>

<div class="entities">
  <%= render partial: 'frontpage/menu_blocks'%>
</div>

<% content_for :javascript do %>
  $('#close_banner').click(function(){
    $("#banner").remove();
  });
  $("#banner").show("slide", { direction: "right", easing: "easeOutQuart" }, 1000);
<% end %>
