<div class="container-fluid front_blocks">

  <div class="row">

    <div class="col-md-12 block_darker">
      <div class="img_block item_L">
        <img src="assets/orange/ilustracion-1.png">
        <!--<a href="/learn" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.our_courses')%></a>-->
      </div>
      <div class="text_block item_L">
        <div class="title_block">
          <h3><%= t('orange_front.header.fuente_inagotable')%></h3>
        </div>
        <div class="p_block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <!-- Texto dinámico traducción <%= t('orange_front.menu_blocks')%>-->
        </div>
        <button class="btn btn-sm">Incibe (5000)</button>
        <button class="btn btn-sm">OSI (5000)</button>
        <button class="btn btn-sm">red.es (5000)</button>
      </div>
    </div>

    <div class="col-md-12 block">
      <div class="img_block item_R">
        <img src="assets/orange/ilustracion-2.png">
        <!--<a href="/teach" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.teaching_units')%></a>-->
      </div>
      <div class="text_block item_L">
        <div class="title_block">
          <h3><%= t('orange_front.header.cursos_acreditados')%></h3>
        </div>
        <div class="p_block">
          <p>Lorem consectetur adipisicing elit sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <!-- Texto dinámico traducción <%= t('orange_front.menu_blocks')%>-->
        </div>
        <button class="btn btn-sm">cursos abiertos</button>
        <button class="btn btn-sm">cursos acreditados</button>
      </div>
    </div>

    <div class="col-md-12 block_darker">
      <div class="img_block item_L">
        <img src="assets/orange/ilustracion-3.png">
        <!--<a href="/teach" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.teaching_units')%></a>-->
      </div>
      <div class="text_block item_L">
        <div class="title_block">
          <h3><%= t('orange_front.header.desata_cratividad')%></h3>
        </div>
        <div class="p_block">
          <p>Lorem enim ad minim veniam, adipisicing elit consectetur sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <!-- Texto dinámico traducción <%= t('orange_front.menu_blocks')%>-->
        </div>
      </div>
    </div>

    <div class="col-md-12 block">
      <div class="img_block item_R">
        <img src="assets/orange/ilustracion-4.png">
        <!--<a href="/teach" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.teaching_units')%></a>-->
      </div>
      <div class="text_block item_L">
        <div class="title_block">
          <h3><%= t('orange_front.header.profesores')%></h3>
        </div>
        <div class="p_block">
          <p>Lorem consectetur adipisicing elit sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
          <!-- Texto dinámico traducción <%= t('orange_front.menu_blocks')%>-->
        </div>
      </div>
    </div>

  </div>

</div>
