
<div class="front_blocks">

  <!-- BLOCK 1 -->
  <div class="block">
    <div class="content_block">
      <div class="img_block float_L">
        <img src="assets/orange/ilustracion-1.png">
      </div>
      <div class="text_block float_L">
        <div class="title_block">
          <h3><%= t('home_page.block1_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block1_txt_html')%></p>
        </div>
        <!--<button class="btn btn-default">Incibe (5000)</button>
        <button class="btn btn-default">OSI (5000)</button>
        <button class="btn btn-default">red.es (5000)</button>-->
      </div>
    </div>
  </div>
  <!-- BLOCK 2 -->
  <div class="block">
    <div class="content_block">
      <div class="img_block float_R">
        <img src="assets/orange/ilustracion-2.png">
      </div>
      <div class="text_block float_L align_right">
        <div class="title_block">
          <h3><%= t('home_page.block2_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block2_txt_html')%></p>
        </div>
        <!--<button class="btn btn-default">cursos abiertos</button>
        <button class="btn btn-default">cursos acreditados</button>-->
      </div>
    </div>
  </div>
  <!-- BLOCK 3 -->
  <div class="block">
    <div class="content_block">
      <div class="img_block float_L">
        <img src="assets/orange/ilustracion-3.png">
      </div>
      <div class="text_block float_L">
        <div class="title_block">
          <h3><%= t('home_page.block3_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block3_txt_html')%></p>
        </div>
      </div>
    </div>
  </div>
  <!-- BLOCK 4 -->
  <div class="block">
    <div class="content_block">
      <div class="img_block float_R ">
        <img src="assets/orange/ilustracion-4.png">
      </div>
      <div class="text_block float_L align_right">
        <div class="title_block">
          <h3><%= t('home_page.block4_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block4_txt_html')%></p>
        </div>
      </div>
    </div>
  </div>
  <br>


</div>
