
<div class="front_blocks container-fluid">

  <!-- BLOCK 1 -->
  <div class="block col-12">
    <div class="content_block row">
      <div class="img_block col-12 col-md-6 col-lg-5 offset-lg-1">
        <img src="assets/orange/ilustracion-1.png">
      </div>
      <div class="text_block col-12 col-md-6 col-lg-5">
        <div class="title_block">
          <h3><%= t('home_page.block1_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block1_txt_html')%></p>
        </div>
        <!--<button class="btn btn-default">Incibe (5000)</button>
        <button class="btn btn-default">OSI (5000)</button>
        <button class="btn btn-default">red.es (5000)</button>-->
      </div>
    </div>
  </div>
  <!-- BLOCK 2 -->
  <div class="block col-12">
    <div class="content_block row">
      <div class="img_block col-12 col-md-6 order-md-2 col-lg-5">
        <img src="assets/orange/ilustracion-2.png">
      </div>
      <div class="text_block col-12 col-md-6 order-md-1 col-lg-5 offset-lg-1">
        <div class="title_block">
          <h3><%= t('home_page.block2_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block2_txt_html')%></p>
        </div>
        <!--<button class="btn btn-default">cursos abiertos</button>
        <button class="btn btn-default">cursos acreditados</button>-->
      </div>
    </div>
  </div>
  <!-- BLOCK 3 -->
  <div class="block col-12">
    <div class="content_block row">
      <div class="img_block col-12 col-md-6 col-lg-5  offset-lg-1">
        <img src="assets/orange/ilustracion-3.png">
      </div>
      <div class="text_block col-12 col-md-6 col-lg-5 ">

        <div class="title_block">
          <h3><%= t('home_page.block3_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block3_txt_html')%></p>
        </div>
      </div>
    </div>
  </div>
  <!-- BLOCK 4 -->
  <div class="block col-12">
    <div class="content_block row">
      <div class="img_block col-12 col-md-6 order-md-2 col-lg-5">
        <img src="assets/orange/ilustracion-4.png">
      </div>
      <div class="text_block col-12 col-md-6 order-md-1 col-lg-5 offset-lg-1">
        <div class="title_block">
          <h3><%= t('home_page.block4_tit')%></h3>
        </div>
        <div class="p_block">
          <p><%= t('home_page.block4_txt_html')%></p>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTEST17 BLOCK -->
 <!--  <div class="block">
    <div class="content_block">
      <a href="/contest/educa2017">
      <div class="img_block float_L">
        <img src="assets/orange/<%= t('home_page.contest_block.img')%>">
      </div>
      </a>
      <div class="text_block float_R align_right space_top">

        <div class="title_block">
          <h3>
            <%if contest_phase == 2 %>
              <%= t('home_page.contest_block.title2') %>
            <% elsif contest_phase == 3 %>
              <%= raw t('home_page.contest_block.title3')%>
            <% elsif contest_phase == 4 %>
              <%= raw t('home_page.contest_block.title4')%>
            <% elsif contest_phase == 5 %>
              <%= raw t('home_page.contest_block.title5')%>
            <% end %>
          </h3>
        </div>
        <div class="p_block">
          <p>
            <%if contest_phase == 2 %>
              <%= raw t('home_page.contest_block.text2')%>
            <% elsif contest_phase == 3 %>
              <%= raw t('home_page.contest_block.text3')%>
            <% elsif contest_phase == 4 %>
              <%= raw t('home_page.contest_block.text4')%>
            <% elsif contest_phase == 5 %>
              <%= raw t('home_page.contest_block.text5')%>
            <% end %>
          </p>
        </div>
        <button class="btn btn-contest min_width_btn" onclick="location.href='/contest/educa2017';">
          <%if contest_phase == 1 %>
            <%= t('contest_page.steps.step1_action') %>
          <% elsif contest_phase == 2 %>
            <%= t('contest_page.steps.step2_action') %>
          <% elsif contest_phase == 3 && user_signed_in? %>
            <%= t('contest_page.steps.step3_action') %>
          <% elsif contest_phase == 4 %>
            <%= t('contest_page.steps.step4_action') %>
          <% elsif contest_phase == 5 %>
            <%= t('contest_page.steps.step5_action') %>
          <% else%>
            <%= t('contest_page.steps.step3_action_nologed') %>
          <% end %>

        </button>

      </div>
    </div>
  </div> -->

</div>
