<div class="container-fluid front_blocks">
  <div class="row">
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/home_learn.jpg">
        <div class="title_block"><%= t('orange_front.header.formate')%></div>
        <a href="/learn" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.our_courses')%></a>
        <div class="text_block"><%= t('orange_front.menu_blocks.our_courses_txt')%></div>
      </div>
    </div>
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/resources.jpg">
        <div class="title_block"><%= t('orange_front.header.share')%></div>
        <a href="/teach" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.teaching_units')%></a>
        <div class="text_block"><%= t('orange_front.menu_blocks.teaching_units_txt')%></div>
      </div>
    </div>
    <div class="col-md-4 block">
      <div class="img_block">
        <img src="assets/orange/home_contest.jpg">
        <div class="title_block"><%= t('orange_front.header.contest')%></div>
        <a href="/contest/educa2016" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.take_part')%></a>
        <div class="text_block"><%= t('orange_front.menu_blocks.take_part_txt')%></div>
      </div>
    </div>
  </div>
</div>
