<div class="container-fluid front_blocks">
  <div class="row">
    <div class="col-md-12 block">
      <div class="img_block item_L">
        <img src="assets/orange/home_learn.jpg">
        <!--<a href="/learn" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.our_courses')%></a>-->
      </div>
      <div class="item_L">
        <div class="title_block"><%= t('orange_front.menu_blocks.our_courses_tit')%></div>
        <div class="text_block"><%= t('orange_front.menu_blocks.our_courses_txt')%></div>
      </div>
    </div>

    <div class="col-md-12 block">
      <div class="img_block item_R">
        <img src="assets/orange/resources.jpg">
        <!--<a href="/teach" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.teaching_units')%></a>-->
      </div>
      <div class="item_L">
        <div class="title_block"><%= t('orange_front.menu_blocks.teaching_units_tit')%></div>
        <div class="text_block"><%= t('orange_front.menu_blocks.teaching_units_txt')%></div>
      </div>
    </div>

    <div class="col-md-12 block">
      <div class="img_block item_L">
        <img src="assets/orange/home_contest.jpg">
        <!--<a href="/contest/educa2016" class="btn btn-primary bt_block"><%= t('orange_front.menu_blocks.take_part')%></a>-->
      </div>
      <div class="item_L">
        <div class="title_block"><%= t('orange_front.menu_blocks.take_part_tit')%></div>
        <div class="text_block"><%= t('orange_front.menu_blocks.take_part_txt')%></div>
      </div>
    </div>
  </div>
</div>
