<%if officedoc.file_content_type.include?("opendocument")%>
    <%= div_for officedoc, :class => 'content_size' do %>
      <div class="downloadfile_show">
        <span class='fa fa-file-powerpoint-o icon_downloadfile'></span>
        <p class="downloadfile_text"><%=t("document.no_preview")%></p>
        <p class="downloadfile_text"><%=t("document.no_preview2")%></p>
        <div class="">
          <a class="btn btn-primary btn-downloadfile" href='<%=download_document_path(officedoc)%>'><span class="fa fa-download"></span> <%=t('document.actions.download')%></a>
        </div>
      </div>
    <% end %>
<%else%>
    <%= div_for officedoc, :class => 'content_size' do %>
      <div class="officedoc_show">
        <iframe id="iframe_officedoc_<%=officedoc.id%>" width="100%" height="500" style="border: none;" webkitAllowFullScreen="true" allowfullscreen="true" mozallowfullscreen="true"></iframe>
      </div>
    <% end %>

    <script type="text/javascript">
    	var isPDFSupported = function(){
    		var pdfReaderSupport = false;
    		if((typeof navigator.mimeTypes == "object")&&("application/pdf" in navigator.mimeTypes)){
    			pdfReaderSupport = true;
    		}
    		return pdfReaderSupport;
    	};

    	document.addEventListener("DOMContentLoaded", function(){
    		var iframeDOM = $("#iframe_officedoc_<%=officedoc.id%>");
    		var iframeSrc = '<%=raw officedoc.google_doc_url(request.protocol)%>';

    		if('<%=officedoc.file_content_type%>'=="application/pdf"){
    			//Check PDF native reader support
    			if(isPDFSupported()){
    				iframeSrc = '<%=raw officedoc.source_full_url(request.protocol)%>';
    			}
    		}

    		$(iframeDOM).attr("src",iframeSrc);
    	});
    </script>

<%end%>
