<% availableModels = available_models %>
<% availableServices = available_services %>
<% availableResources = available_resource_types %>
<% front_or_home = (params[:controller] == 'home' || params[:controller] == 'frontpage') ? true:false%>

<nav class="navbar navbar-default navbar-fixed-top <%='navbar-home' if front_or_home%>" id="top" role="navigation">
  <div class="container-fluid">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn-navbar btn btn-default <%='btn-home' if front_or_home%>" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fa fa-bars"></i>
    </a>

    <!-- BRAND -->
    <div class="brand">
      <a href="/" class="logo <%='logo-home' if front_or_home%>">Educa<span class="logo_bold">Internet</span></a>
    </div>

    <div class="hidden-phone hidden-tablet">

      <!-- MENU -->
      <ul class="nav navbar-nav navbar-right" id="main_menu">
        <li class="btn btn-default btn-header <%='btn-home' if front_or_home%>"><a class="linker" href="/learn"><%=t('orange_front.header.formate')%></a></li>
        <li class="btn btn-default btn-header <%='btn-home' if front_or_home%>"><a class="linker" href="/teach"><%=t('orange_front.header.ensena')%></a></li>

        <!-- Help button -->
        <li class=" dropdown toggler ">
          <div data-toggle="dropdown" class="btn btn-icon <%='btn-home-icon' if front_or_home%> without-dropdown-toggle">
            <i class="fa fa-question-circle"></i>
          </div>

          <ul class="dropdown-menu add-menu" role="menu" >
            <li>
              <a href="/overview">
                <i class="fa fa-question"> </i>
                <span><%= t('overview_title') %></span>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
                <i class="fa fa-youtube-play"> </i>
                <span><%= t('youtube') %></span>
              </a>
            </li>
            <li>
              <%= link_to user_manual_path do %>
                <i class='fa fa-download'> </i>
                <span><%= t('help_manual')%>   </span>
              <% end %>
            </li>
            <li>
              <a href="contributors">
                <i class="fa fa-graduation-cap"> </i>
                <span><%= t('orange_front.footer.contributors') %></span>
              </a>
            </li>
          </ul>
        </li>

        <!-- ADD -->
        <li class="btn btn-default btn-xs <%='btn-home' if front_or_home%> toggler dropdown">
          <div class="without-data-toggle " data-toggle="dropdown" href="#" >
            <i class="fa fa-plus"></i>
          </div>
          <ul class="dropdown-menu add-menu">
            <!-- dropdown menu links -->
            <% availableModels.each do |modelName| %>
              <% if modelName == "Excursion" %>
                <li><%= link_to new_excursion_path do %><i class="fa fa-list-alt"></i> <%= t('excursion.actions.add') %><% end %></li>
              <% elsif modelName == "Workshop" %>
                <li><%= link_to new_workshop_path do %><i class="fa fa-graduation-cap"></i> <%= t('workshop.actions.add') %><% end %></li>
              <% elsif modelName == "Resource" %>
                <li><a href="#AddResource" data-toggle="modal"><i class="fa fa-upload"></i> <%=t('resource.actions.add')%></a></li>
                <% if availableResources.include? "Writing" %>
                  <li><%= link_to new_writing_path do %><i class="fa fa-pencil-square-o"></i> <%= t('writing.actions.add') %><% end %></li>
                <%end%>
              <% elsif modelName == "Category" %>
                <li><a href="#AddCategoryHeader" data-toggle="modal"><i class="fa fa-th-large"></i> <%=t('categories.actions.add')%></a></li>
              <% elsif modelName == "Event" %>
                <li><a href="#AddEvent" data-toggle="modal"><i class="fa fa-video-camera"></i> <%=t('event.actions.add')%></a></li>
              <% elsif modelName == "Course" %>
                  <%if Vish::Application.config.courses_enabled%>
                    <li><%= link_to new_course_path do %><i class="fa fa-university"></i> <%=t('course.actions.add')%>    <% end %></li>
                  <%end%>
              <%end%>
            <% end %>
          </ul>
        </li>

        <!-- USER -->
        <li class="photo_user tooltip-header" data-original-title="<%=t('profile.profile')%>">
          <%= link_to current_subject do %>
          <%= image_tag current_subject.logo.url(:small) %>
          <% end %>
        </li>
        <li class="dropdown <%='btn-home-icon' if front_or_home%>">
          <a href="#" class="dropdown-toggle user_name" data-toggle="dropdown" role="button" aria-expanded="false"><%= truncate_name(current_subject.name, length: 15) %><span class="caret"></span></a>
          <ul class="dropdown-menu user-menu pull-right" role="menu">

            <!-- profile -->

            <li class="settings-menu">
              <%= link_to current_subject do %>
                <i class="fa fa-user"></i>
                <%= t('profile.one') %>
              <% end %>
            </li>
            <%if !current_subject.role?("PrivateStudent") %>
            	<li class="settings-menu">
            	  <%= link_to(raw("<i class='" + (current_subject.unread_messages_count > 0 ? " fa fa-envelope notification" : " fa fa-envelope-o") + "'></i> "+t('message.title')), messages_path, :title => current_subject.unread_messages_count.to_s + t('message.unread'), :data => {:toggle=>"tooltip"}) %>
            	</li>
            <% end %>

            <!--settings-->
            <li class="settings-menu">
              <%= link_to activities_path do %>
                <i class='fa fa-globe'></i>
                <%= t('activity.other') %>
              <% end %>
            </li>

            <!-- if admin -->
            <%if isAdmin? %>
              <li class="settings-menu">
                <%= link_to admin_path do %>
                  <i class="fa fa-wrench"></i>
                  <span><%= t("admin.menu_entry") %></span>
                <% end %>
              </li>
            <%end%>

            <% if availableModels.include? "Excursion" and availableServices.include? "ARS" and !current_subject.role?("PrivateStudent") %>
              <!-- divider bar -->
              <li class="divider"></li>

              <li class="settings-menu">
                <%= link_to quiz_sessions_path do %>
                  <i class="fa fa-check-square"></i>
                  <%= t('quiz.live') %>
                <% end %>
              </li>
            <%end%>
                  <%if availableModels.include? "Course" %>
                    <li class="settings-menu">
                      <%= link_to "/users/"+current_subject.slug+"/courses" do %>
                          <i class="fa fa-cog"></i>
                          <span><%= t('course.my') %></span>
                      <% end %>
                    </li>
                  <%end%>

            <% if availableServices.include? "PrivateStudentGroups" and !current_subject.role?("PrivateStudent") %>
                <li class="settings-menu">

                  <%if can?(:create, PrivateStudentGroup.new)%>
                    <%= link_to private_student_groups_path do %>
                      <i class="fa fa-group"></i>
                      <%= t("private_student.request") %>
                    <% end %>
                  <%else%>
                    <%= link_to(raw("<i class='fa fa-group'></i> " + t("private_student.request")), new_service_request_private_student_group_path, :title => t("private_student.request_help"), :remote=>true, :data => {:toggle=>"modal", :target=>"#RequestPermModal"}) %>
                  <%end%>

                </li>
            <%end%>
            <li class="divider"></li>
            <!-- comunity -->
            <li class="settings-menu">
              <a href="/search?type=User">
                <i class="fa fa-comments-o"></i>

                <%= t('community') %>
              </a>
            </li>

              <li class="divider"></li>

              <!-- settings -->
              <% unless current_subject.role?("PrivateStudent") %>
                <li class="settings-menu">
                  <%= link_to settings_path do %>
                    <i class="fa fa-cog"></i>
                    <%= t('dropdown.settings') %>
                  <% end %>
                </li>
              <%end%>

              <!-- signout -->
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out"></i>
                <%= t('sign_out') %>
                <% end %>
              </li>

          </ul>
        </li>

      </ul>
      <!--search-->
      <li class="search-ui ">
      <%= render partial: 'layouts/header/uisearch_header' %>
      </li>
      <ul class="nav navbar-nav navbar-right">
      <%if true%>
        <li class="btn btn-default btn-header btn-mooc"><a class="linker" href="http://moodle.educainternet.es/course/view.php?id=6"><%=t('mooc.button.go_to_mooc')%></a></li>
      <%elsif current_subject.email.ends_with? "@educa.madrid.org"%>
        <li class="btn btn-default btn-header btn-mooc"><a class="linker" href="/mooc_welcome"><%=t('mooc.button.new_mooc')%></a></li>
      <%end%>
    </ul>
    </div>

    <div class="nav-collapse navbar-responsive-collapse collapse hidden-desktop MOBILE">
      <%= render partial: 'layouts/header/header_signed_in_mobile' %>
    </div>
  </div>
</nav>

<%if ["INVITATION_ONLY","HYBRID"].include? Vish::Application.config.APP_CONFIG["register_policy"] %>
  <!-- modal with partial for invitation, filled by ajax-->
  <%= render partial: 'devise/invitations/new_modal' %>
<%end%>

<% if (availableServices.include? "PrivateStudentGroups") && !can?(:create, PrivateStudentGroup.new) %>
  <%= render partial: 'service_request/private_student_groups/new_modal'%>
<%end%>

 <script>
   document.addEventListener('DOMContentLoaded', function() {
      $('.tooltip-header').tooltip({ placement: 'bottom', container: 'body'});
      $('.dropdown-toggle').dropdown();

  });
</script>
