<% availableModels = available_models %>
<% availableServices = available_services %>
<% availableResources = available_resource_types %>
<% front_or_home = (params[:controller] == 'home' || params[:controller] == 'frontpage') ? true:false %>
<%
  @show_mooc = false
  if user_signed_in? and availableModels.include? "Course"
    @course = Course.find_by_id(7)
    @show_mooc = (!@course.nil? and @course.users.include? current_subject)
  end
%>

<nav id="navbar-home" class="navbar navbar-main <%='navbar-transparent' if front_or_home%>" id="top" role="navigation">
  <div class="container-fluid">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar btn-default <%='b' if front_or_home%>" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fa fa-bars"></i>
      
    </a>

    <!-- BRAND -->
    <div id="brand" class="brand d-none">
      <a href="/" class="logo_img"><img src="https://boosted.orange.com/docs/4.6/dist/img/orange_logo.svg" alt="Logo Educa" width="50" height="50" ></a>

      <a href="/" class="logo <%='logo-home' if front_or_home%>">Educa<span class="logo_bold">Internet</span></a>
    </div>
    <div class="hidden-phone hidden-tablet">
      <ul class="nav navbar-nav float_L" id="new-menu">
          <li class="olink"><a href="/" class="<%=current_page?("/") || current_page?("/home") ? "active" : ""%>"><%= t('orange_front.header.index')%></a></li>
          <li class="olink"><a href="/explore" class="<%=current_page?("/explore") ? "active" : ""%>"><%= t('orange_front.header.explore')%></a></li>
          <li class="olink"><a href="/search" class="<%=current_page?("/search") ? "active" : ""%>"><%= t('orange_front.header.repo')%></a></li>
          <li class="olink"><a href="/courses" class="<%=current_page?("/courses") ? "active" : ""%>"><%= t('orange_front.header.courses')%></a></li>
          <li class="olink"><a href="/about" class="<%=current_page?("/about") ? "active" : ""%>"><%= t('orange_front.header.about')%></a></li>
        </ul>

      <!-- MENU -->
      <ul class="nav navbar-nav float_R" id="main_menu">

        <!-- ADD -->
        <li class="pull-right">
          <div class="btn btn-primary btn-add toggler dropdown without-data-toggle " data-toggle="dropdown" href="#" >
            <i class="fa fa-plus"></i>
          </div>
          <ul class="dropdown-menu dropdown-menu-right add-menu">
            <!-- dropdown menu links -->
            <% availableModels.each do |modelName| %>
                <% if modelName == "EdiphyDocument" %>
                   <li><%= link_to new_ediphy_document_path do %><i class="fa fa-th-large"></i> <%= t('ediphy_document.actions.add') %><% end %></li>
                <% elsif modelName == "Excursion" %>
                  <li><%= link_to new_excursion_path do %><i class="fa fa-list-alt"></i> <%= t('excursion.actions.add') %><% end %></li>
                <% elsif modelName == "Workshop" %>
                  <li><%= link_to new_workshop_path do %><i class="fa fa-book"></i> <%= t('workshop.actions.add') %><% end %></li>
                <% elsif modelName == "Resource" %>
                  <li><a href="#ModalDocument" data-toggle="modal"><i class="fa fa-upload"></i> <%=t('resource.actions.upload_document')%></a></li>
                  <li><a href="#ModalLink" data-toggle="modal"><i class="fa fa-link"></i> <%=t('resource.actions.add_link')%></a></li>
                  <li><a href="#ModalEmbed" data-toggle="modal"><i class="fa fa-code"></i> <%=t('resource.actions.add_html')%></a></li>
                  <% if availableResources.include? "Writing" %>
                      <li><%= link_to new_writing_path do %><i class="fa fa-pencil-square-o"></i> <%= t('writing.actions.add') %><% end %></li>
                  <%end%>
              <%# elsif modelName == "Category" %>
                <!--<li><a href="#AddCategoryHeader" data-toggle="modal"><i class="fa fa-th-large"></i> <%#=t('categories.actions.add')%></a></li>-->
              <% elsif modelName == "Event" %>
                <li><a href="#AddEvent" data-toggle="modal"><i class="fa fa-video-camera"></i> <%=t('event.actions.add')%></a></li>
              <% elsif modelName == "Course" %>
                  <%if Vish::Application.config.courses_enabled && current_subject.admin?%>
                    <li><%= link_to new_course_path do %><i class="fa fa-graduation-cap"></i> <%=t('course.actions.add')%>    <% end %></li>
                  <%end%>
              <%end%>
            <% end %>
          </ul>
        </li>

        <!-- user -->
        <li class="photo_user tooltip-header" data-original-title="<%=t('profile.profile')%>">
          <%= link_to current_subject do %>
            <%= image_tag current_subject.logo.url(:small) %>
          <% end %>
        </li>
        <li>
          <a href="#" class="btn user_name dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">


              <%= truncate_name(current_subject.name, length: 15) %>
              <span class="caret"></span>

          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">

            <!-- profile -->
            <li class="settings-menu">
              <%= link_to current_subject do %>
                <i class="fa fa-user"></i>
                <%= t('profile.one') %>
              <% end %>
            </li>

            <%if !current_subject.role?("PrivateStudent") %>
              <li class="settings-menu">
                <%= link_to(raw("<i class='" + (current_subject.unread_messages_count > 0 ? " fa fa-envelope notification" : " fa fa-envelope-o") + "'></i> "+t('message.title')), messages_path, :title => current_subject.unread_messages_count.to_s + t('message.unread'), :data => {:toggle=>"tooltip"}) %>
              </li>
            <% end %>

            <!--settings-->
            <!--<li class="settings-menu">
              <%= link_to activities_path do %>
                <i class='fa fa-globe'></i>
                <%= t('activity.other') %>
              <% end %>
            </li>-->

            <!-- if admin -->
            <%if isAdmin? %>
              <li class="settings-menu">
                <%= link_to admin_path do %>
                  <i class="fa fa-wrench"></i>
                  <span><%= t("admin.menu_entry") %></span>
                <% end %>
              </li>
            <%end%>

            <% if availableModels.include? "Excursion" and availableServices.include? "ARS" and !current_subject.role?("PrivateStudent") %>
              <!-- divider bar -->
              <!--<li class="divider"></li>-->
              <!--<li class="settings-menu">
                <%= link_to quiz_sessions_path do %>
                  <i class="fa fa-check-square"></i>
                  <%= t('quiz.live') %>
                <% end %>
              </li>-->
            <%end%>

                  <%if (availableModels.include? "Course") %>
                    <li class="settings-menu">
                      <%= link_to "/users/"+current_subject.slug+"/courses" do %>
                          <i class="fa fa-graduation-cap"></i>
                          <span><%= t('course.my') %></span>
                      <% end %>
                    </li>
                  <%end%>

            <% if availableServices.include? "PrivateStudentGroups" and !current_subject.role?("PrivateStudent") %>
                      <li class="settings-menu">

                        <% if can?(:create, PrivateStudentGroup.new) %>
                          <%= link_to private_student_groups_path do %>
                            <i class="fa fa-university"></i>
                            <%= t("private_student.request") %>
                          <% end %>
                        <% else %>
                          <%= link_to(raw("<i class='fa fa-group'></i> " + t("private_student.request")), new_service_request_private_student_group_path, :title => t("private_student.request_help"), :remote=>true, :data => {:toggle=>"modal", :target=>"#RequestPermModal"}) %>
                        <% end %>
                </li>
            <%end%>

            <!--<li class="divider"></li>-->
            <!-- comunity -->
            <!--<li class="settings-menu">
              <a href="/search?type=User">
                <i class="fa fa-comments-o"></i>
                <%= t('community') %>
              </a>
            </li>-->

              <li class="divider"></li>

              <!-- settings -->
              <% unless current_subject.role?("PrivateStudent") %>
                <li class="settings-menu">
                  <%= link_to settings_path do %>
                    <i class="fa fa-cog"></i>
                    <%= t('dropdown.settings') %>
                  <% end %>
                </li>
              <%end%>

              <!-- signout -->
              <li>
<%if Vish::Application.config.oauth2%>
                      <%= link_to Vish::Application.config.APP_CONFIG["OAUTH2"]["site"] + "/auth/external_logout?_method=delete&client_id=" + Vish::Application.config.APP_CONFIG["OAUTH2"]["app_id"], :method => :delete do %>
                        <i class="fa fa-sign-out"></i>
                        <%= t('sign_out') %>
                      <% end %>
                    <%else%>
                      <%= link_to destroy_user_session_path, :method => :delete do %>
                        <i class="fa fa-sign-out"></i>
                        <%= t('sign_out') %>
                      <% end %>
                    <%end%>
              </li>

          </ul>
        </li>
      </ul>
    </li>
      <!--search-->
      <li class="search-ui ">
      <%= render partial: 'layouts/header/uisearch_header' %>
      </li>
        <ul class="nav navbar-nav float_R">
        <%if @show_mooc%>
          <li class="btn btn-default btn-header btn-mooc"><a class="linker" href="<%=@course.moodle_url%>"><%=t('mooc.button.go_to_mooc')%></a></li>
        <%end%>
        </ul>
    </div>

    <div id="navbar_mobile" class="nav-collapse navbar-responsive-collapse collapse hidden-desktop mobile">
      <%= render partial: 'layouts/header/header_signed_in_mobile' %>
    </div>
  </div>
</nav>

<%if ["INVITATION_ONLY","HYBRID"].include? Vish::Application.config.APP_CONFIG["register_policy"] %>
  <!-- modal with partial for invitation, filled by ajax-->
  <%= render partial: 'devise/invitations/new_modal' %>
<%end%>

<% if (availableServices.include? "PrivateStudentGroups") && !can?(:create, PrivateStudentGroup.new) %>
  <%= render partial: 'service_request/private_student_groups/new_modal'%>
<%end%>

 <script>
   document.addEventListener('DOMContentLoaded', function() {
      $('.tooltip-header').tooltip({ placement: 'bottom', container: 'body'});
      $('.dropdown-toggle').dropdown();

  });
</script>
