<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn-navbar btn btn-default" data-toggle="collapse" data-target=".nav-collapse">
        <i class="fa fa-bars"></i>
      </a>

      <!-- BRAND -->
      <div class="brand">
        <a href="/" class="logo">Educa<span class="logo_bold">Internet</span></a>
      </div>



      <!--______________________________desktop-->
      <div class=" hidden-phone hidden-tablet">

        <!-- NEW ORANGE MENU -->

        <ul class="nav navbar-nav navbar-right">
          <!--<li class="<%= 'active' if params[:controller] == 'home'%>"><a href="/"><%=t('orange_front.header.index')%></a></li>-->
          <li class="tooltip-header <%= 'homeactive' if params[:controller] == 'home'%>" data-original-title="Inicio"><a href="/"><i class="fa fa-home"></i></a></li>
          <li class="<%= 'active' if params[:catalogue] == 'true'%>"><a href="<%=search_path(:catalogue=>"true")%>"><%=t('orange_front.header.temateca')%><span class="menu_bold"><%=t('orange_front.header.bold')%></span></a></li>
          <li class="<%= 'active' if params[:directory] == 'true'%>"><a href="<%=search_path(:directory=>"true")%>"><%=t('orange_front.header.recursoteca')%><span class="menu_bold"><%=t('orange_front.header.bold')%></span></a></li>
          <li class="<%= 'active' if params[:controller] == 'search' && params[:browse]=="true" && params[:type]=="User" %>"><a href="<%=search_path(:type => "User", :browse=>"true", :sort_by => "popularity")%>"><%=t('orange_front.header.comunity')%></a></li>

          <!-- NEW Help button -->
          <li class="btn-header-xs dropdown toggler <%= 'homeactive' if params[:controller] == 'home'%>">
            <div data-toggle="dropdown" class="btn btn-help without-dropdown-toggle">
              <i class="fa fa-question-circle"></i>
            </div>

            <ul class="dropdown-menu add-menu" role="menu" >

              <li>
                <a href="/overview">
                  <i class="fa fa-question"> </i>
                  <span><%= t('overview_title') %></span>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
                  <i class="fa fa-youtube-play"> </i>
                  <span><%= t('youtube') %></span>
                </a>
              </li>
              <li>
                <%= link_to user_manual_path do %>
                  <i class='fa fa-download'> </i>
                  <span><%= t('help_manual')%>   </span>
                <% end %>
              </li>
            </ul>
          </li>


          <li class="btn btn-default btn-header"><a href="<%=new_user_registration_path%>"><%=t("sign_up")%></a></li>
          <li class="btn btn-primary btn-header btn-access dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="menu_bold">Acceso<i class="icon-angle-down"></i></span></a>
            <ul class="dropdown-menu pull-right" role="menu">
              <%= form_for User.new, :as => :user, :url => user_session_path do |f| %>
                <%= f.email_field :email, :id => "username", :class => 'form-control' %>
                <%= f.password_field :password, :id => "password", :class => 'form-control'  %>

                <label class="checkbox">
                  <input type="checkbox"> <%=t("activerecord.attributes.user.remember_me")%>
                </label>
                <%= link_to t('devise.links.forgot_password'), new_password_path(:user) %>
                <%= f.submit t(:sign_in), :class => ' btn btn-primary pull-right'%>
              <% end %>

              <%content_for :javascript do%>
                if ("placeholder" in document.createElement("input")) {
                  $("#username").attr('placeholder', I18n.t('activerecord.attributes.user.email'));
                  $("#password").attr('placeholder', I18n.t('activerecord.attributes.user.password'));
                } else {
                  $("#username").watermark(I18n.t('activerecord.attributes.user.email'),"#666");
                  $("#password").watermark(I18n.t('activerecord.attributes.user.password'),"#666");
                }
              <% end %>
            </ul>
          </li>
        </ul>

        <!--search-->

        <li class="search-ui ">
          <%= render partial: 'layouts/header/uisearch_header' %>
        </li>
      </div>


      <!--________________________mobile/tablet-->
      <div class="nav-collapse navbar-responsive-collapse collapse hidden-desktop  MOBILE ">
        <%= render partial: 'layouts/header/header_signed_out_mobile' %>
      </div>
  </div>
</nav>


<!-- SCRIPT FOR AUTOMATIC BOOTSTRAP-DROPDOWN HOVER -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    (function ($, window, delay) {
    var theTimer = 0;
    var theElement = null;
      var theLastPosition = {x:0,y:0};
    $('.toggler .without-data-toggle')
      .closest('li')
      .on('mouseenter', function (inEvent) {
      if (theElement) theElement.removeClass('open');
      window.clearTimeout(theTimer);
      theElement = $(this);

      theTimer = window.setTimeout(function () {
        theElement.addClass('open');
      }, delay);
    })
      .on('mousemove', function (inEvent) {
          if(Math.abs(theLastPosition.x - inEvent.ScreenX) > 4 ||
             Math.abs(theLastPosition.y - inEvent.ScreenY) > 4)
          {
              theLastPosition.x = inEvent.ScreenX;
              theLastPosition.y = inEvent.ScreenY;
              return;
          }

      if (theElement.hasClass('open')) return;
      window.clearTimeout(theTimer);
      theTimer = window.setTimeout(function () {
        theElement.addClass('open');
      }, delay);
    })
      .on('mouseleave', function (inEvent) {
      window.clearTimeout(theTimer);
      theElement = $(this);
      theTimer = window.setTimeout(function () {
        theElement.removeClass('open');
      }, delay);
    });
  })(jQuery, window, 0); // 200 is the delay in milliseconds
});
</script>
