<% availableModels = available_models %>
<% availableServices = available_services %>
<% availableResources = available_resource_types %>

<nav class="navbar navbar-default navbar-fixed-top" id="top" role="navigation">
  <div class="container-fluid">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn-navbar btn btn-default" data-toggle="collapse" data-target=".nav-collapse">
      <i class="fa fa-bars"></i>
    </a>

    <!-- BRAND -->
    <div class="brand">
      <a href="/" class="logo">Educa<span class="logo_bold">Internet</span></a>
    </div>

    <div class="hidden-phone hidden-tablet">
      <!-- NEW ORANGE MENU -->

      <ul class="nav navbar-nav navbar-right" id="main_menu">
        <!--<li class="<%= 'active' if params[:controller] == 'home'%>"><a href="/"><%=t('orange_front.header.index')%></a></li>-->
        <!--<li class="<%= 'homeactive' if params[:controller] == 'home'%>"><a href="/"><i class="fa fa-home"></i></a></li>-->

        <li class="tooltip-header <%= 'homeactive' if params[:controller] == 'home'%>" data-original-title="Inicio"><a href="/"><i class="fa fa-home"></i></a></li>
        <li class="<%= 'active' if params[:catalogue] == 'true'%>"><a href="<%=search_path(:catalogue=>"true")%>"><%=t('orange_front.header.temateca')%><span class="menu_bold"><%=t('orange_front.header.bold')%></span></a></li>
        <li class="<%= 'active' if params[:directory] == 'true'%>"><a href="<%=search_path(:directory=>"true")%>"><%=t('orange_front.header.recursoteca')%><span class="menu_bold"><%=t('orange_front.header.bold')%></span></a></li>
        <li class="<%= 'active' if params[:controller] == 'search' && params[:browse]=="true" && params[:type]=="User" %>"><a href="<%=search_path(:type => "User", :browse=>"true", :sort_by => "popularity")%>"><%=t('orange_front.header.comunity')%></a></li>


        <!-- NAVEGATION -->
        <%= render partial: 'layouts/header/basic_navegation' %>
        <!-- modal with partial for invitation after header in this same file -->

        <!-- NEW Help button -->
        <li class="btn-header-xs dropdown toggler <%= 'homeactive' if params[:controller] == 'home'%>">
          <div data-toggle="dropdown" class="btn btn-help without-dropdown-toggle">
            <i class="fa fa-question-circle"></i>
          </div>

          <ul class="dropdown-menu add-menu" role="menu" >

            <li>
              <a href="/overview">
                <i class="fa fa-question"> </i>
                <span><%= t('overview_title') %></span>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com/channel/UCo-73n6eZBWNBs2gvKLyBhQ">
                <i class="fa fa-youtube-play"> </i>
                <span><%= t('youtube') %></span>
              </a>
            </li>
            <li>
              <%= link_to user_manual_path do %>
                <i class='fa fa-download'> </i>
                <span><%= t('help_manual')%>   </span>
              <% end %>
            </li>
          </ul>
        </li>

        <!-- ADD -->
        <li class="btn-header-xs toggler dropdown">
          <div class="btn without-data-toggle " data-toggle="dropdown" href="#" >
            <i class="fa fa-plus"></i>
          </div>
          <ul class="dropdown-menu add-menu">
            <!-- dropdown menu links -->
            <% availableModels.each do |modelName| %>
              <% if modelName == "Excursion" %>
                <li><%= link_to new_excursion_path do %><i class="fa fa-list-alt"></i> <%= t('excursion.actions.add') %><% end %></li>
              <% elsif modelName == "Workshop" %>
                <li><%= link_to new_workshop_path do %><i class="fa fa-list-alt"></i> <%= t('workshop.actions.add') %><% end %></li>
              <% elsif modelName == "Resource" %>
                <li><a href="#AddResource" data-toggle="modal"><i class="fa fa-file"></i> <%=t('resource.actions.add')%></a></li>
                <% if availableResources.include? "Writing" %>
                  <li><%= link_to new_writing_path do %><i class="fa fa-pencil-square-o"></i> <%= t('writing.actions.add') %><% end %></li>
                <%end%>
              <% elsif modelName == "Category" %>
                <li><a href="#AddCategoryHeader" data-toggle="modal"><i class="fa fa-th-large"></i> <%=t('categories.actions.add')%></a></li>
              <% elsif modelName == "Event" %>
                <li><a href="#AddEvent" data-toggle="modal"><i class="fa fa-video-camera"></i> <%=t('event.actions.add')%></a></li>
              <%end%>
            <% end %>
          </ul>
        </li>

        <!-- USER -->
        <li class="photo_user tooltip-header" data-original-title="<%=t('profile.profile')%>">
          <%= link_to current_subject do %>
          <%= image_tag current_subject.logo.url(:small) %>
          <% end %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle user_name" data-toggle="dropdown" role="button" aria-expanded="false"><%= truncate_name(current_subject.name, length: 15) %><span class="caret"></span></a>
          <ul class="dropdown-menu user-menu pull-right" role="menu">

              <li class="settings-menu">
                 <%= link_to home_path do %>
                 <i class="fa fa-home"></i>
                 <%= t('navigation.home') %>
                 <% end %>
              </li>

              <%if isAdmin? %>
                <li class="settings-menu">
                  <%= link_to admin_path do %>
                    <i class="fa fa-wrench"></i>
                    <span><%= t("admin.menu_entry") %></span>
                  <% end %>
                </li>
              <%end%>

              <li class="settings-menu">
                <%= link_to current_subject do %>
                  <i class="fa fa-user"></i>
                  <%= t('profile.one') %>
                <% end %>
              </li>

              <li class="settings-menu">
                <%= link_to settings_path do %>
                  <i class="fa fa-cog"></i>
                  <%= t('dropdown.settings') %>
                <% end %>
              </li>


              <% if availableModels.include? "Excursion" and availableServices.include? "ARS" %>
                <li class="settings-menu">
                  <%= link_to quiz_sessions_path do %>
                    <i class="fa fa-check-square"></i>
                    <%= t('quiz.live') %>
                  <% end %>
                </li>
              <%end%>

              <li class="divider"></li>

              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-sign-out"></i>
                <%= t('sign_out') %>
                <% end %>
              </li>

          </ul>
        </li>

      </ul>
      <!--search-->
      <li class="search-ui ">
      <%= render partial: 'layouts/header/uisearch_header' %>
      </li>

    </div>

    <div class="nav-collapse navbar-responsive-collapse collapse hidden-desktop MOBILE">
      <%= render partial: 'layouts/header/header_signed_in_mobile' %>
    </div>
  </div>
</nav>

<%if ["INVITATION_ONLY","HYBRID"].include? Vish::Application.config.APP_CONFIG["register_policy"] %>
  <!-- modal with partial for invitation, filled by ajax-->
  <%= render partial: 'devise/invitations/new_modal' %>
<%end%>


 <script>
   document.addEventListener('DOMContentLoaded', function() {
      $('.tooltip-header').tooltip({ placement: 'bottom', container: 'body'});
      $('.dropdown-toggle').dropdown();

  });
</script>
