<div class="illustration">
	<div class="main-box">

		<img class="courses_img" src="/assets/orange/courses.jpg" alt="cover_image">

		<div class="main-title">

		  <div class="title">
		    <h1><%= t('courses_page.title')%></h1>
		    <h2><%= t('courses_page.subtitle')%></h2>
		  </div>

		</div>

	</div>
</div>

<section class="courses_page explore_blocks">


	<div class="block_dark">

		<div class="content_block">
			<h2 class=""><%= t('courses_page.firstband')%></h2>
		</div>

		<div class="content_block">

			<div class="items">
			<%@firstband = [Course.find(5), Course.find(6)]%>
				<%if @firstband.length==0%>
					<%=t("course.none")%>
				<%else%>
					<%@firstband.each do |c|%>
						<%= render partial: 'courses/course_large' , :locals => { :course => c } %>
					<%end%>
				<%end%>

		</div>
		</div>
	</div>

	<div class="block">

		<div class="content_block">
			<h2 class=""><%= raw t('courses_page.secondband')%></h2>
		</div>

		<div class="content_block">

			<div class="items">
			<%@secondband = [Course.find(7)]%>
				<%if @secondband.length==0%>
					<%=t("course.none")%>
				<%else%>
					<%@secondband.each do |c|%>
						<%= render partial: 'courses/course_large' , :locals => { :course => c } %>
					<%end%>
				<%end%>

		</div>
		</div>
	</div>

		<div class="block_dark">

		<div class="content_block">
			<h2 class=""><%= t('courses_page.thirdband')%></h2>
		</div>

		<div class="content_block">

			<div class="items">
			<%@thirdband = [Course.find(2), Course.find(3), Course.find(4)]%>
				<%if @thirdband.length==0%>
					<%=t("course.none")%>
				<%else%>
					<%@thirdband.each do |c|%>
						<%= render partial: 'courses/course_small' , :locals => { :course => c } %>
					<%end%>
				<%end%>

		</div>
		</div>
	</div>


	<!--

	<div class="content_block">
		<div class="items">
			<ul>
				<%#if @courses.length==0%>
					<%#=t("course.none")%>
				<%#else%>
					<%#@courses.each do |c|%>
						<%#= render partial: 'courses/course' , :locals => { :course => c } %>
					<%#end%>
				<%#end%>
			</ul>
		</div>
	</div>
-->

</section>

	<%= render :partial => "shared/create_account" %>
