<div class="illustration">
	<div class="main-box">

		<img class="courses_img" src="/assets/orange/courses.jpg" alt="cover_image">

		<div class="main-title">

		  <div class="title">
		    <h1><%= t('courses_page.title')%></h1>
		    <h2><%= t('courses_page.subtitle')%></h2>
		  </div>

		</div>

	</div>
</div>

<section class="courses_page explore_blocks">


	<div class="block_dark">

		<div class="content_block">
			<h2 class=""><%= t('courses_page.firstband')%></h2>
		</div>

		<div class="content_block">

			<div class="items">
			<%@firstband = [Course.find(5), Course.find(6), Course.find(7), Course.find(8), Course.find(9), Course.find(10), Course.find(11)]%>
				<%if @firstband.length==0%>
					<%=t("course.none")%>
				<%else%>
					<%@firstband.each do |c|%>
						<%= render partial: 'courses/course_large' , :locals => { :course => c } %>
					<%end%>
				<%end%>

		</div>
		</div>
	</div>

	<div class="block">

		<div class="content_block">
			<h2 class="">Toda la formación de EducaInternet se desarrolla ahora en la plataforma Orange Digital Center</h2>
			<h2>Visítala en <a href="https://online.orangedigitalcenter.es">https://online.orangedigitalcenter.es</a></h2>
		</div>

		
	</div>
		

</section>

	<%= render :partial => "shared/create_account" %>
