<!DOCTYPE html>
<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></head>
<body>
  <table style="background-color: #eeeeee; height: 300px; padding-bottom: 40px; border:0; font-family: Helvetica,Arial,sans-serif;" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td align="center" valign="top">
          <table style="padding: 15px 0px; border:0;" cellpadding="0" cellspacing="0" width="700">
            <!-- CABECERA MAIL-->
            <thead style="background-color: #FFF; height: 70px; display: block;position:relative;">
             <tr>
              <td style="padding-left:25px;padding-top:20px;">
                <a style="color: black;font-size: 27px;text-decoration: none;" href="https://easyvideo.santandergroup.net/"><span style="font-weight: 100;color: #666666;">Educa</span><span style="font-weight: bold; color: #ff6600;">Internet</span></a>
              </td>
            </thead>
            <!-- LINEA GRIS-->
            <thead style="background-color: #999999;min-height: 0px;display: block;">
            </thead>

            <tbody>
              <tr>
                <td>
                  <div style="line-height: 1.3em;height: auto;font-weight: 100;padding: 20px 50px 10px; color: #484848; background-color: #FFF; font-size: 15px;">

                    <p style="font-size: 20px;margin-bottom: 15px;">
                      <% @user = User.last%>
                    <%if @user %>
                      <span><%=t('mooc.first_mail.body1') + " " + @user.name %>:</span>
                    <%end%>
                    </p>
                    <p><%=t('mooc.first_mail.body2')%></p>
                    <div style="padding-left: 20px;padding-bottom: 15px;">
                      <span style="margin-bottom: 5px;font-weight: bold;">nombre</span>
                      <br>
                      <span><% @user.email %></span>
                      <br>
                      <span><% @user.center_code %></span>
                    </div>
                    <p><%=t('mooc.first_mail.body3')%></p>

                    <div style="margin-bottom:10px;padding-left: 20px;padding-bottom:10px;">
                      <p>Clic para acceder a </p>
                      <a href="http://educainternet.es" style="text-decoration: none; color: black;font-weight: bold;">> EducaInternet</a>
                    </div>
                    <div style="margin-bottom:10px;padding-left: 20px;padding-bottom:10px;">
                      <p>Clic para acceder a</p>
                      <a href="http://moodle.educainternet.es" style="text-decoration: none; color: black;font-weight: bold;">> Moodle</a>
                    </div>
                    <p><div><%= raw t('mooc.first_mail.body4', :name => Vish::Application.config.APP_CONFIG["mooc"]["name"], :password => Vish::Application.config.APP_CONFIG["mooc"]["password"]) %></div></p>
                    <span><%=t('mooc.first_mail.body5')%></span>
                    <p style="padding-top: 15px;">Un saludo,</p>

                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot style="background-color: white; height: 70px; display: block; position:relative;">
              <tr>
                <td style="padding-left:525px;">
                    <p style="color: #484848;">Equipo EducaInternet</p>
                </td>
              </tr>
            </tfoot>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
