
<%content_for :title do %>elab<% end %>
<%content_for :favicon do%>"icons/favicon_elab.ico"<%end%>


<div class="elab_main">

	<div class="main_header">

		<div class="elab_logo"><a href="" class="logo"><%= raw t('elab.title')%></a></div>
		
		<div class="header_options">
			<div class="search"><span class="icon-search"></span><input class="field_search" type="search" id="appSearch" name="q" placeholder="<%=t('elab.search')%>"></div>
			<div class="main_actions">
				<a class="option sign_up" href=""><%=t('elab.sign_up')%></a>
				<a class="option login" href=""><%=t('elab.login')%></a>
				<!-- <a class="option languaje" href="">es<span class="icon-arrow_down"></span></a> -->
			</div>
		</div>

	</div>

	<div class="elab-container">
		
		<div class="lateral-menu">
			<div class="filters" id="filters">
				<div class="icon-menu icon-all" data-filter=".all"></div>
				<div class="icon-menu icon-alert" data-filter=".fake"></div>
				<div class="icon-menu icon-security" data-filter=".security"></div>
				<div class="icon-menu icon-quiz" data-filter=".quiz"></div>
				<div class="icon-menu icon-definitions" data-filter=".definitions"></div>
				<div class="icon-menu icon-hotspot" data-filter=".hotspot"></div>
			</div>
			
			<div class="language_menu">
				<div class="current_language" href="">
					<% the_locale = I18n.locale.to_s %>
		      <%= the_locale %>
		      <span class="icon-arrow_up" id="lang_arrow"></span>
		    </div>
		    <ul class="other_languages closed">
		      <% for locale in (I18n.available_locales.map{|i| i.to_s}) -%>
		       <li class="lang">
		          <%= link_to locale, session_locale_path(:new_locale => locale), :method => :post, :remote => false %>
		        </li>
		      <% end %>
		    </ul>
		  </div>
		</div>

		<div class="main-elab-content">
			<div class="educainternet-footer">
				<span class="educa-text"><%=t('elab.educafooter')%></span>
				<a class="educainternet-logo" href="https://educainternet.es/" target="_blank"><span class="educa">Educa</span>Internet</a>
			</div>
			<div class="elab-text">
				<div class="scroll_text">
					<%= raw t('elab.main_text')%>
					<div id="text-arrow" class="text-arrow"><span class="icon-arrow_down scroll_arrow"></span></div>
				</div>
			</div>
			<div class="elab-apps" id="elab-apps">
				<div class="alt_text"><%= t('elab.alt_text')%>
			</div>
			</div>
			<!-- <div class="des_text">sdufaksjhfkjag</div> -->
		</div>

	</div>

</div>

