<footer>
  <div class="footer_container">
    <section>
        <div class="brand_footer">
          Educa<span class="bold">Internet</span>
        </div>
        <p class="description_footer"><%= t('orange_front.footer.reference_center_html')%></p>
        <!-- social_networks -->
        <div class="social_footer">
            <a class="social_bt_footer" href="https://www.facebook.com/EducaInternet/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="social_bt_footer" href="https://twitter.com/EducaInternet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="social_bt_footer" href="https://www.youtube.com/channel/UCH_RLT0J0CPBbOnibBO_mzg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a class="social_bt_footer" href="https://github.com/ging/vish_orange" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <!-- language -->
        <div class="dropdown">
          <button id="dlanguage" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary btn-footer">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <% the_locale = I18n.locale.to_s %>
            <%=t('lang.title')%>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dlanguage">
            <% for locale in (I18n.available_locales.map{|i| i.to_s}) -%>
             <li class="">
                <%= link_to image_tag("flags/" + locale + ".png", :title=>locale, :class=> "") + " " + t(:language_name, :locale => locale), session_locale_path(:new_locale => locale), :method => :post, :remote => false %>
              </li>
            <% end %>
          </ul>
        </div>
    </section>

    <section class="hide_footer">
      <h4><%= t('orange_front.footer.project')%></h4>
        <ul>
          <li class="footer_link"><a href="/search">Explorar</a></li>
          <li class="footer_link"><a  href="/about">Acerca de</a></li>
          <li class="footer_link"><a href="https://github.com/ging/vish_orange" target="_blank">Desarrolladores</a></li>
          <li class="footer_link"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfGNqSSQk8nCsqiKV-laILGJ0nAYINPMzDtDDaKUPow5xCX_w/viewform" target="_blank">Danos tu opinion</a></li>
        </ul>
    </section>

    <section class="hide_footer">
      <h4><%= t('orange_front.footer.community')%></h4>
        <ul>
          <li class="footer_link"><a href="http://blog.educainternet.es" target="_blank">Blog</a></li>
          <li class="footer_link"><a href="#">¿Qué hacemos?</a></li>
          <li class="footer_link"><a href="/search?type=User">Comunidad</a></li>
          <li class="footer_link"><a href="https://www.facebook.com/EducaInternet/" target="_blank">Facebook</a></li>
          <li class="footer_link"><a href="https://twitter.com/EducaInternet" target="_blank">Twitter</a></li>
          <li class="footer_link"><a href="https://www.youtube.com/channel/UCH_RLT0J0CPBbOnibBO_mzg" target="_blank">Canal Youtube</a></li>
        </ul>
    </section>

    <section class="hide_footer">
      <h4><%= t('orange_front.footer.help')%></h4>
        <ul>

          <li class="footer_link"><a href="#">Soy una institución</a></li>
          <li class="footer_link"><a href="/privacy_policy">Política de privacidad</a></li>
          <li class="footer_link"><a href="/conditions_of_use">Condiciones de uso</a></li>
          <li class="footer_link"><a href="http://www.orange.es/static/html/cookies.html" target="_blank">Cookies</a></li>
          <li class="footer_link"><a href="mailto:virtual.science.hub@gmail.com">Contáctanos</a></li>

        </ul>
    </section>
  </div>
</footer>
